.banner-5
    .banner-left
        img(src="assets/images/background/banner-5.jpg" alt="").img-full
    .banner-right.padding-top-100.padding-bottom-100
        h2.title free estimates
        h3.subtitle are provided for work 
        p.text We offer plumbing services and solutions for every type of issue – from common clogs to a full mainline replacement.
        a.btn.transparent(href="#") get an estimate