.banner-6
    .banner-left
        img(src="assets/images/post/image-52.png" alt="").img-responsive
    .banner-right
        h2.title great products
        h3.subtitle we provide for your house
        p.text We offer plumbing services and solutions for every type of issue – from common clogs to a full mainline replacement. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        a.btn.transparent.white-color(href="#") more products