.coming-soon
    canvas#timer.coming-soon-canvas
    .main-count-wrapper
        .main-count
            .time.days.flip
                span.count.curr.top#days
            .count-height
            .stat-label days
    .main-count-wrapper
        .main-count
            .time.hours.flip
                span.count.curr.top#hours
            .count-height
            .stat-label hours
    .main-count-wrapper
        .main-count
            .time.minutes.flip
                span.count.curr.top#minutes
            .count-height
            .stat-label minutes
    .main-count-wrapper
        .main-count
            .time.seconds.flip
                span.count.curr.top#seconds
            .count-height
            .stat-label seconds