.contact-form
    h5.contact-title contact form
    form.main-form
        input.form-control(type="text", placeholder="Name")
        input.form-control(type="email", placeholder="Email Address")
        input.form-control(type="text", placeholder="Phone Number")
        textarea.form-control(placeholder="Message")
    button.btn.white-color(type="submit") submit message