.gallery-image-nav
    ul.tab-filter.tablist
        li.tab.active(data-filter="*", data-category="all")
           .link all
        li.tab(data-filter=".tab-1", data-category="tab-1")
           .link contruction
        li.tab(data-filter=".tab-2", data-category="tab-2")
           .link interior
        li.tab(data-filter=".tab-3", data-category="tab-3")
           .link architect
        li.tab(data-filter=".tab-4", data-category="tab-4")
           .link building
        li.tab(data-filter=".tab-5", data-category="tab-5")
           .link plumbing
.gallery-image-grid
    .grid-item.tab-1.tab-4.tab-3
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-24.jpg", data-fancybox-group='gallery-1')
                img.img-full(src="assets/images/post/image-24.jpg", alt="")
                //- span.bg-hover
                .bg-hover-1
                .bg-hover-2
            .content
                a.link(href="#") Architect
                .title FLOURY
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-2.tab-3.tab-5
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-25.jpg", data-fancybox-group='gallery-1')
                img.img-full(src="assets/images/post/image-25.jpg", alt="")
                //- span.bg-hover
                .bg-hover-1
                .bg-hover-2
            .content
                a.link(href="#") Architect
                .title TRANSERA
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-1.tab-5.tab-3
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-21.jpg", data-fancybox-group='gallery-1')
                img.img-full(src="assets/images/post/image-21.jpg", alt="")
                //- span.bg-hover
                .bg-hover-1
                .bg-hover-2
            .content
                a.link(href="#") Architect
                .title BUILDPLUS
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-1.tab-3.tab-4.tab-2
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-29.jpg", data-fancybox-group='gallery-1')
                img.img-full(src="assets/images/post/image-29.jpg", alt="")
                //- span.bg-hover
                .bg-hover-1
                .bg-hover-2
            .content
                a.link(href="#") Architect
                .title SOLALA
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-5.tab-2.tab-4
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-28.jpg", data-fancybox-group='gallery-1')
                img.img-full(src="assets/images/post/image-28.jpg", alt="")
                //- span.bg-hover
                .bg-hover-1
                .bg-hover-2
            .content
                a.link(href="#") Architect
                .title FLEXI
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-2.tab-3.tab-4.tab-5
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-27.jpg", data-fancybox-group='gallery-1')
                img.img-full(src="assets/images/post/image-27.jpg", alt="")
                //- span.bg-hover
                .bg-hover-1
                .bg-hover-2
            .content
                a.link(href="#") Architect
                .title APPEXPO
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-1.tab-3.tab-5
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-26.jpg", data-fancybox-group='gallery-1')
                img.img-full(src="assets/images/post/image-26.jpg", alt="")
                //- span.bg-hover
                .bg-hover-1
                .bg-hover-2
            .content
                a.link(href="#") Architect
                .title GRASSY
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-4.tab-3.tab-2
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-25.jpg", data-fancybox-group='gallery-1')
                img.img-full(src="assets/images/post/image-25.jpg", alt="")
                //- span.bg-hover
                .bg-hover-1
                .bg-hover-2
            .content
                a.link(href="#") Architect
                .title MAGICLEAN
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-5.tab-3.tab-1.tab-4
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-22.jpg", data-fancybox-group='gallery-1')
                img.img-full(src="assets/images/post/image-22.jpg", alt="")
                //- span.bg-hover
                .bg-hover-1
                .bg-hover-2
            .content
                a.link(href="#") Architect
                .title SOLABIZ
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed