.gallery-image-nav
    ul.tab-filter.tablist
        li.tab.active(data-filter="*", data-category="all")
           .link all
        li.tab(data-filter=".tab-11", data-category="tab-11")
           .link contruction
        li.tab(data-filter=".tab-12", data-category="tab-12")
           .link interior
        li.tab(data-filter=".tab-13", data-category="tab-13")
           .link architect
        li.tab(data-filter=".tab-14", data-category="tab-14")
           .link building
        li.tab(data-filter=".tab-15", data-category="tab-15")
           .link plumbing
.gallery-image-grid.style-3
    .grid-item.tab-14.tab-13.tab-12
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-5.jpg", data-fancybox-group='gallery-4')
                img.img-full(src="assets/images/post/image-5.jpg", alt="")
                span.bg-hover
            .content
                a.link(href="#") Architect
                .title FLEXI
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-11.tab-13.tab-14.tab-12
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-6.jpg", data-fancybox-group='gallery-4')
                img.img-full(src="assets/images/post/image-6.jpg", alt="")
                span.bg-hover
            .content
                a.link(href="#") Architect
                .title APPEXPO
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.grid-item-width-2.tab-11.tab-15.tab-13
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-4.jpg", data-fancybox-group='gallery-4')
                img.img-full(src="assets/images/post/image-4.jpg", alt="")
                span.bg-hover
            .content
                a.link(href="#") Architect
                .title GRASSY
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-12.tab-13.tab-14.tab-15
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-1.jpg", data-fancybox-group='gallery-4')
                img.img-full(src="assets/images/post/image-1.jpg", alt="")
                span.bg-hover
            .content
                a.link(href="#") Architect
                .title MAGICLEAN
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-11.tab-13.tab-15
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-2.jpg", data-fancybox-group='gallery-4')
                img.img-full(src="assets/images/post/image-2.jpg", alt="")
                span.bg-hover
            .content
                a.link(href="#") Architect
                .title SOLABIZ
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed