.gallery-image-nav
    ul.tab-filter.tablist
        li.tab.active(data-filter="*", data-category="all")
           .link all
        li.tab(data-filter=".tab-6", data-category="tab-6")
           .link contruction
        li.tab(data-filter=".tab-7", data-category="tab-7")
           .link interior
        li.tab(data-filter=".tab-8", data-category="tab-8")
           .link architect
        li.tab(data-filter=".tab-9", data-category="tab-9")
           .link building
        li.tab(data-filter=".tab-10", data-category="tab-10")
           .link plumbing
.gallery-image-grid
    .grid-item.tab-6.tab-9.tab-8
        .block-image-gallery
           a.fancybox-thumb(href="assets/images/post/image-24.jpg", data-fancybox-group='gallery-2')
                img.img-full(src="assets/images/post/image-24.jpg", alt="")
                //- span.bg-hover
                .bg-hover-1
                .bg-hover-2
            .content
                a.link(href="#") Architect
                .title ALAB
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.grid-item-height-2.tab-6.tab-10.tab-8
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-27.jpg", data-fancybox-group='gallery-2')
                img.img-full(src="assets/images/post/image-27.jpg", alt="")
                //- span.bg-hover
                .bg-hover-1
                .bg-hover-2
            .content
                a.link(href="#") Architect
                .title FLOURY
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-7.tab-8.tab-10
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-25.jpg", data-fancybox-group='gallery-2')
                img.img-full(src="assets/images/post/image-25.jpg", alt="")
                //- span.bg-hover
                .bg-hover-1
                .bg-hover-2
            .content
                a.link(href="#") Architect
                .title TRANSERA
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-6.tab-8.tab-9.tab-7
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-29.jpg", data-fancybox-group='gallery-2')
                img.img-full(src="assets/images/post/image-29.jpg", alt="")
                //- span.bg-hover
                .bg-hover-1
                .bg-hover-2
            .content
                a.link(href="#") Architect
                .title BUILDPLUS
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-7.tab-8.tab-9.tab-10
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-21.jpg", data-fancybox-group='gallery-2')
                img.img-full(src="assets/images/post/image-21.jpg", alt="")
                //- span.bg-hover
                .bg-hover-1
                .bg-hover-2
            .content
                a.link(href="#") Architect
                .title SOLALA
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.grid-item-height-2.tab-6.tab-8.tab-10
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-26.jpg", data-fancybox-group='gallery-2')
                img.img-full(src="assets/images/post/image-26.jpg", alt="")
                //- span.bg-hover
                .bg-hover-1
                .bg-hover-2
            .content
                a.link(href="#") Architect
                .title FLEXI
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.grid-item-height-2.tab-10.tab-6.tab-9
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-22.jpg", data-fancybox-group='gallery-2')
                img.img-full(src="assets/images/post/image-22.jpg", alt="")
                //- span.bg-hover
                .bg-hover-1
                .bg-hover-2
            .content
                a.link(href="#") Architect
                .title APPEXPO
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-9.tab-8.tab-7
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-25.jpg", data-fancybox-group='gallery-2')
                img.img-full(src="assets/images/post/image-25.jpg", alt="")
                //- span.bg-hover
                .bg-hover-1
                .bg-hover-2
            .content
                a.link(href="#") Architect
                .title GRASSY
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-10.tab-8.tab-6.tab-9
        .block-image-gallery
            a.fancybox-thumb(href="assets/images/post/image-23.jpg", data-fancybox-group='gallery-2')
                img.img-full(src="assets/images/post/image-23.jpg", alt="")
                //- span.bg-hover
                .bg-hover-1
                .bg-hover-2
            .content
                a.link(href="#") Architect
                .title MAGICLEAN
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed