.list-logo
    .item
        a.link(href="#")
            img.img-responsive(src="assets/images/logos/image-1.png", alt="")
    .item
        a.link(href="#")
            img.img-responsive(src="assets/images/logos/image-2.png", alt="")
    .item
        a.link(href="#")
            img.img-responsive(src="assets/images/logos/image-3.png", alt="")
    .item
        a.link(href="#")
            img.img-responsive(src="assets/images/logos/image-1.png", alt="")
    .item
        a.link(href="#")
            img.img-responsive(src="assets/images/logos/image-2.png", alt="")
    .item
        a.link(href="#")
            img.img-responsive(src="assets/images/logos/image-3.png", alt="")