.row
    .col-sm-3.col-xs-6
        .count-number
            h4.number(data-from="0" data-to="1489" data-speed="1500") 0
            p.name project completed
            i.icons.flaticon-office
    .col-sm-3.col-xs-6
        .count-number
            h4.number(data-from="0" data-to="2560" data-speed="1500") 0
            p.name happy customers
            i.icons.flaticon-buildings
    .col-sm-3.col-xs-6
        .count-number
            h4.number(data-from="0" data-to="1273" data-speed="1500") 0
            p.name expert member
            i.icons.flaticon-worker
    .col-sm-3.col-xs-6
        .count-number
            h4.number(data-from="0" data-to="180" data-speed="1500") 0
            p.name offices in the world
            i.icons.flaticon-wrench