.list-block-icon-3
    .item
        .block-icon-3
            .icon-cell
                .wrapper-icons
                    i.icons.flaticon-office
            .icon-cell
                .wrapper-info
                    .title construction service
    .item
        .block-icon-3
            .icon-cell
                .wrapper-icons
                    i.icons.flaticon-wrench
            .icon-cell
                .wrapper-info
                    .title renovation
    .item
        .block-icon-3
            .icon-cell
                .wrapper-icons
                    i.icons.flaticon-pixel-sofa
            .icon-cell
                .wrapper-info
                    .title interior design
    .item
        .block-icon-3
            .icon-cell
                .wrapper-icons
                    i.icons.flaticon-worker
            .icon-cell
                .wrapper-info
                    .title constructor consult