.list-block-icon-1
    .item
        .block-icon-1
            .icon-cell
                .wrapper-icons
                    i.icons.flaticon-bolt
            .icon-cell
                .wrapper-info
                    .title best house renovation
                    .text Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .item
        .block-icon-1
            .icon-cell
                .wrapper-icons
                    i.icons.flaticon-business
            .icon-cell
                .wrapper-info
                    .title effective teamwork
                    .text Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .item
        .block-icon-1
            .icon-cell
                .wrapper-icons
                    i.icons.flaticon-calendar
            .icon-cell
                .wrapper-info
                    .title good planning
                    .text Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .item
        .block-icon-1
            .icon-cell
                .wrapper-icons
                    i.icons.flaticon-shield
            .icon-cell
                .wrapper-info
                    .title safe work
                    .text Lorem ipsum dolor sit amet, consectetur adipisicing elit