.list-contact-info
    h5.title Contact Us now
    .item
        .contact-info-box
            .contact-info-cell
                .wrapper-icons
                    i.icons.fa.fa-map-marker
            .contact-info-cell
                .wrapper-info
                    p.text 7100 Athens Place Washington, DC 20521-7100
    .item
        .contact-info-box
            .contact-info-cell
                .wrapper-icons
                    i.icons.fa.fa-phone
            .contact-info-cell
                .wrapper-info
                    .text Hotline:
                        a.text-bold(href="tel:+123456789") +1 234 567 89
    .item
        .contact-info-box
            .contact-info-cell
                .wrapper-icons
                    i.icons.fa.fa-envelope
            .contact-info-cell
                .wrapper-info
                    a.text.link(href="mailto:info@buildplus.com") info@buildplus.com
                    a.text.link(href="mailto:support@builplus.com") support@builplus.com