.list-block-icon-2
    .item
        .block-icon-2
            .icon-cell
                .wrapper-icons
                    i.icons.fa.fa-magic
            .icon-cell
                .wrapper-info
                    .title Planning
                    .text Dolor sit amet, consectetur adipisicing elit, dolor sit amet, consec tempor.
    .item
        .block-icon-2
            .icon-cell
                .wrapper-icons
                    i.icons.fa.fa-pencil
            .icon-cell
                .wrapper-info
                    .title Scheduling - Designing
                    .text Dolor sit amet, consectetur adipisicing elit, dolor sit amet, consec tempor.
    .item
        .block-icon-2
            .icon-cell
                .wrapper-icons
                    i.icons.fa.fa-hand-o-up
            .icon-cell
                .wrapper-info
                    .title Constructing
                    .text Dolor sit amet, consectetur adipisicing elit, dolor sit amet, consec tempor.
    .item
        .block-icon-2
            .icon-cell
                .wrapper-icons
                    i.icons.fa.fa-check
            .icon-cell
                .wrapper-info
                    .title Finishing
                    .text Dolor sit amet, consectetur adipisicing elit, dolor sit amet, consec tempor.