.pagination-wrapper(class="#{class_more}")
    ul.pagination
        li
            a(href="#").link.previous previous
        li
            a(href="#").link 1
        li
            a(href="#").active.link 2
        li
            a(href="#").link ...
        li
            a(href="#").link 9
        li
            a(href="#").link 10
        li
            a(href="#").link.next next