.slider-vertical-wrapper
    .slider-nav-wrapper
        .slider-nav.list-block-icon-3
            .block-icon-3
                .icon-cell
                    .wrapper-icons
                        i.icons.flaticon-office
                .icon-cell
                    .wrapper-info
                        .title Planning
            .block-icon-3
                .icon-cell
                    .wrapper-icons
                        i.icons.flaticon-wrench
                .icon-cell
                    .wrapper-info
                        .title Scheduling - Designing
            .block-icon-3
                .icon-cell
                    .wrapper-icons
                        i.icons.flaticon-pixel-sofa
                .icon-cell
                    .wrapper-info
                        .title Constructing
            .block-icon-3
                .icon-cell
                    .wrapper-icons
                        i.icons.flaticon-worker
                .icon-cell
                    .wrapper-info
                        .title Finishing
    .slider-for-wrapper
        .slider-for
            .item
                .item-wrapper
                    .img-wrapper
                        img(src="assets/images/post/image-20.jpg", alt="").img-full
                    .content-wrapper
                        .description Enim ad minim veniam, quis nostrud exercitation ulla imco laboris un nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                        a.readmore(href="#") 
                            span.text read more
                            i.icons.fa.fa-angle-double-right
                    span.overlay
                    a(href="javascript:void(0)")
            .item
                .item-wrapper
                    .img-wrapper
                        img(src="assets/images/post/image-2.jpg", alt="").img-full
                    .content-wrapper
                        .description Enim ad minim veniam, quis nostrud exercitation ulla imco laboris un nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                        a.readmore(href="#") 
                            span.text read more
                            i.icons.fa.fa-angle-double-right
                    span.overlay
                    a(href="javascript:void(0)")
            .item
                .item-wrapper
                    .img-wrapper
                        img(src="assets/images/post/image-3.jpg", alt="").img-full
                    .content-wrapper
                        .description Enim ad minim veniam, quis nostrud exercitation ulla imco laboris un nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                        a.readmore(href="#") 
                            span.text read more
                            i.icons.fa.fa-angle-double-right
                    span.overlay
                    a(href="javascript:void(0)")
            .item
                .item-wrapper
                    .img-wrapper
                        img(src="assets/images/post/image-4.jpg", alt="").img-full
                    .content-wrapper
                        .description Enim ad minim veniam, quis nostrud exercitation ulla imco laboris un nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                        a.readmore(href="#") 
                            span.text read more
                            i.icons.fa.fa-angle-double-right
                    span.overlay
                    a(href="javascript:void(0)")