.slide-block.column-3.no-arrows
    .item
        .block-image-gallery
            img.img-full(src="assets/images/post/image-22.jpg", alt="")
            .bg-hover
            .content
                a.link(href="#") Architect
                .title Villa In San Francisco
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src="assets/images/post/image-23.jpg", alt="")
            .bg-hover
            .content
                a.link(href="#") Architect
                .title tokyo villa
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src="assets/images/post/image-24.jpg", alt="")
            .bg-hover
            .content
                a.link(href="#") Architect
                .title phu quoc restaurant
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src="assets/images/post/image-25.jpg", alt="")
            .bg-hover
            .content
                a.link(href="#") Architect
                .title White Villa In San Francisco
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src="assets/images/post/image-26.jpg", alt="")
            .bg-hover
            .content
                a.link(href="#") Architect
                .title tokyo villa
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src="assets/images/post/image-27.jpg", alt="")
            .bg-hover
            .content
                a.link(href="#") Architect
                .title phu quoc restaurant
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed