.list-testimonial-1
    .item
        .testimonial-1
            .testimonial-image
                img.img-responsive(src="assets/images/more-images/avatar-1.jpg", alt="")
            .testimonial-content
                a.name(href="#") david thomson
                p.position CEO Big Ocean Resort
                p.testimonial Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    .item
        .testimonial-1
            .testimonial-image
                img.img-responsive(src="assets/images/more-images/avatar-3.jpg", alt="")
            .testimonial-content
                a.name(href="#") tristan vinci
                p.position Developer sunny.Ltd
                p.testimonial Laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure do lor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
    .item
        .testimonial-1
            .testimonial-image
                img.img-responsive(src="assets/images/more-images/avatar-2.jpg", alt="")
            .testimonial-content
                a.name(href="#") anna jennifer
                p.position Accountant Toto.Ltd
                p.testimonial Enim ad minim veniam, quis nostrud exercitation ulla imco laboris un nisi ut aliquip ex ea commodo consequat, sunt in culpa qui officia deserunt mollit.