.list-testimonial-2
    .item
        .testimonial-2
            .img-wrapper
                img.img-responsive(src="assets/images/team/image-7.png" alt="")
            .content-wrapper
                p.testimonial Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure do lor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excep teur sint occae cat cupidatat non proident, sunt in culpa qui officia deserunt mollit.
                .infomation
                    img.img-responsive(src="assets/images/more-images/signature.png", alt="")
                    p.name anna thomson - <span class="position">CEO ANZ Bank</span>
    .item
        .testimonial-2
            .img-wrapper
                img.img-responsive(src="assets/images/team/image-10.png" alt="")
            .content-wrapper
                p.testimonial Enim ad minim veniam, quis nostrud exercitation ulla imco laboris un nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                .infomation
                    img.img-responsive(src="assets/images/more-images/signature.png", alt="")
                    p.name David muller - <span class="position">CEO ANZ Bank</span>
    .item
        .testimonial-2
            .img-wrapper
                img.img-responsive(src="assets/images/team/image-11.png" alt="")
            .content-wrapper
                p.testimonial Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure do lor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Exercitation ulla imco laboris un nisi ut aliquip ex ea commodo consequat.
                .infomation
                    img.img-responsive(src="assets/images/more-images/signature.png", alt="")
                    p.name tristan vinci - <span class="position">CEO ANZ Bank</span>