.list-testimonial-3
    .item
        .testimonial-3
            .testimonial-image
                .image-wrapper
                    img.img-responsive(src="assets/images/more-images/avatar-1.jpg", alt="")
                .author
                    a.name(href="#") david thomson
                    p.position CEO Big Ocean Resort
            .testimonial-content
                p.testimonial Many people has the notion that enlightenment is one state. Many also believe that when it is attained, a person is forever in that state. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .item
        .testimonial-3
            .testimonial-image
                .image-wrapper
                    img.img-responsive(src="assets/images/more-images/avatar-3.jpg", alt="")
                .author
                    a.name(href="#") tristan vinci
                    p.position Developer sunny.Ltd
            .testimonial-content
                p.testimonial Eum et summo officiis, reque splendide consequuntur ne sit. Duo ad soleat aeterno ullamcorper, salutandi facilisis vel ut. His ipsum idque percipitur ut, te reque assum ceteros quo. Te postulant molestiae gloriatur mei, ea quod impetus temporibus eum. Vis te.
    .item
        .testimonial-3
            .testimonial-image
                .image-wrapper
                    img.img-responsive(src="assets/images/more-images/avatar-2.jpg", alt="")
                .author
                    a.name(href="#") anna jennifer
                    p.position Accountant Toto.Ltd
            .testimonial-content
                p.testimonial Verterem nominati ne eos, illum eirmod omittam ei cum, cu fabulas nusquam est. Quas alterum suavitate ius cu, perpetua efficiantur sit no. In eos quot verterem suavitate, amet liber nostro ea vix. Duo purto salutandi dissentias cu, sea ut aliquam.