.wrapper-footer.white
    .container
        .row
            .col-md-4.col-sm-6
                !=partial("../widgets/about-us")
            .col-md-4.col-sm-6
                !=partial("../widgets/recent-post-2")
            .col-md-4.col-sm-6
                !=partial("../widgets/send-mail")
.footer-bottom.white
    .container
        .text &copy; 2016 by <span class="name">&nbsp;swlabs.&nbsp;</span> make with &nbsp; <i class="icons fa fa-heart"></i>
