.wrapper-footer.white.style-2
    .container
        .row
            img(src="assets/images/team/image-15.png" alt="").side-img
            .col-md-4.col-md-offset-4.col-sm-6
                !=partial("../widgets/send-mail")
            .col-md-4.col-sm-6
                !=partial("../widgets/about-us")
.footer-bottom.white
    .container
        .text &copy; 2016 by <span class="name">&nbsp;swlabs.&nbsp;</span> make with &nbsp; <i class="icons fa fa-heart"></i>
