!=partial("nav-menu")
.button-search
    i.icons.fa.fa-search
.nav-wrapper
    .nav-search-1
       form
          input.searchbox(type='text' placeholder='Enter your keyword...')
          button.searchbutton.fa.fa-search(type='submit')
    .nav-search.hide
       form
          input.searchbox(type='text' placeholder='Search')
          button.searchbutton.fa.fa-search(type='submit')
    .clearfix