.page-wrapper
    .container
        .content-wrapper.content-wrapper-404
            h1.title page not found
            p.subtitle opps! you lost somewhere
            .group-btn
                a.btn.main-color(href="index.html") back to home
                a.btn.transparent(href="javascript:window.history.go(-1)") get back
            img.img-people.wow.fadeIn(data-wow-delay="0.8s", src="assets/images/more-images/people.png", alt="")
            img.img-404.wow.flipInX(data-wow-delay="1.2s", src="assets/images/more-images/404.png", alt="")
            img.img-construction.wow.animationTin(data-wow-delay="2s", data-wow-duration="2.5s", src="assets/images/more-images/construction.png", alt="")