.banner-pages.banner-blog
    .container.container-wrapper
        .banner-wrapper
            .title-wrapper
                h1.title our blog
                .breadcrumb-wrapper
                    ol.breadcrumb
                        li.breadcrumb-item
                            a.breadcrumb-link(href="#") Home
                        li.breadcrumb-item
                            span.breadcrumb-active Blog
            //- .banner-btn
            //-     a.btn.white-color(href="#") get in touch
            .clearfix
.blog-content.padding-top-100.padding-bottom-100
    .container
        .row
            .col-xs-12
                .list-block.column-2
                    .item
                        .block-2
                            .block-image
                                img.img-full(src="assets/images/post/image-5.jpg", alt="")
                                .label-block
                                    .text-1 25.07
                                    .text-2 2016
                                    a.link-date(href="#")
                                a.link(href="#")
                            .block-content       
                                a.title(href="#") Steam Generator Design & Fabrication
                                .description
                                    p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                a.readmore(href="#")
                                    span.text read more
                                    i.icons.fa.fa-angle-double-right 
                    .item
                        .block-2
                            .block-image
                                img.img-full(src="assets/images/post/image-1.jpg", alt="")
                                .label-block
                                    .text-1 25.07
                                    .text-2 2016
                                    a.link-date(href="#")
                                a.link(href="#")
                            .block-content       
                                a.title(href="#") BUILD AND IMPROVE FOR MODERN LIFE
                                .description
                                    p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                a.readmore(href="#")
                                    span.text read more
                                    i.icons.fa.fa-angle-double-right 
                    .item
                        .block-2
                            .block-image
                                img.img-full(src="assets/images/post/image-15.jpg", alt="")
                                .label-block
                                    .text-1 25.07
                                    .text-2 2016
                                    a.link-date(href="#")
                                a.link(href="#")
                            .block-content       
                                a.title(href="#") WHAT’S WRONG WITH VENTURE CAPITAL
                                .description
                                    p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                a.readmore(href="#")
                                    span.text read more
                                    i.icons.fa.fa-angle-double-right 
                    .item
                        .block-2
                            .block-image
                                img.img-full(src="assets/images/post/image-7.jpg", alt="")
                                .label-block
                                    .text-1 25.07
                                    .text-2 2016
                                    a.link-date(href="#")
                                a.link(href="#")
                            .block-content       
                                a.title(href="#") THE BASICS OF SCHEDULE EXPLAINED
                                .description
                                    p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                a.readmore(href="#")
                                    span.text read more
                                    i.icons.fa.fa-angle-double-right 
                    .item
                        .block-2
                            .block-image
                                img.img-full(src="assets/images/post/image-8.jpg", alt="")
                                .label-block
                                    .text-1 25.07
                                    .text-2 2016
                                    a.link-date(href="#")
                                a.link(href="#")
                            .block-content       
                                a.title(href="#") WE HELP YOU FIX YOUR HOUSE
                                .description
                                    p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                a.readmore(href="#")
                                    span.text read more
                                    i.icons.fa.fa-angle-double-right 
                    .item
                        .block-2
                            .block-image
                                img.img-full(src="assets/images/post/image-12.jpg", alt="")
                                .label-block
                                    .text-1 25.07
                                    .text-2 2016
                                    a.link-date(href="#")
                                a.link(href="#")
                            .block-content       
                                a.title(href="#") WE PROVIDE THE BEST SERVICES
                                .description
                                    p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                a.readmore(href="#")
                                    span.text read more
                                    i.icons.fa.fa-angle-double-right 
                !=partial("_includes/shortcode/pagination")
        .banner-bottom
            !=partial("_includes/shortcode/banner-1")