.banner-pages.banner-blog-detail
    .container.container-wrapper
        .banner-wrapper
            .title-wrapper
                h1.title single blog
                .breadcrumb-wrapper
                    ol.breadcrumb
                        li.breadcrumb-item
                            a.breadcrumb-link(href="#") Home
                        li.breadcrumb-item
                            a.breadcrumb-link(href="#") Blog
                        li.breadcrumb-item
                            span.breadcrumb-active Single Blog
            //- .banner-btn
            //-     a.btn.white-color(href="#") get in touch
            .clearfix
.blog-detail.padding-top-100.padding-bottom-100
    .container
        .row
            .col-md-8.col-xs-12.main-right
                .blog-detail-wrapper
                    .label-block
                        .text-1 25.07
                        .text-2 2016
                        a.link-date(href="#")
                    .block-image
                        img.img-full(src="assets/images/post/image-17.jpg", alt="")
                        a.link(href="#")
                    .block-info
                        .block
                            a.link(href="#") john doe
                        .block
                            p.link date:
                            a.link.date(href="#") 25.07.2016
                        .block
                            p.link 24 comments
                        .block-info-right
                            p.title share to
                            a.link.twitter(href="#")
                                i.icons.fa.fa-twitter
                            a.link.facebook(href="#")
                                i.icons.fa.fa-facebook
                            a.link.google-plus(href="#")
                                i.icons.fa.fa-google-plus
                    .blog-detail-content
                        h3.title How to build a villa In America with garden
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute est irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspici atis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia.
                        blockquote
                            p Real estate investing, even on a very small scale, remains a tried and true means of building an individual's cash flow and wealth.
                                cite
                                    a(href="#") Anna Thomson
                                    br
                                    span CEO ANZ Bank
                        p Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        ul
                            li Duis aute irure dolor in reprehenderit in.
                            li Dolore eu fugiat nulla pariatur excepteur sint occaecat.
                            li Duis aute irure dolor in reprehenderit in voluptate.
                            li Dolore eu fugiat nulla pariatur excepteur sint occaecat.
                        p Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                        p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationu llamco laboris nisi ut aliquip ex ea commodo consequat.
                    // tag
                    .tags-links
                      a(href='#', rel='tag') Construction
                      a(href='#', rel='tag') New Buildings
                      a(href='#', rel='tag') Architecture
                      a(href='#', rel='tag') Interior
                    // next prev page
                    .next-prev-page
                        .item
                            .recent-post-inner
                                .media.style-3
                                    .media-left
                                        a.wrapper-image(href="#")
                                            img.media-object(src="assets/images/post/image-18.jpg", alt="")
                                    .media-right
                                        a.media-heading(href="#") 'War on Drugs' has Failed Public Health
                                        .meta
                                            .meta-info
                                                | By
                                                a(href="#").link John Doe   
                                            .meta-info
                                                | 24 comments
                        .item
                            .recent-post-inner
                                .media.style-3
                                    .media-left
                                        a.wrapper-image(href="#")
                                            img.media-object(src="assets/images/post/image-6.jpg", alt="")
                                    .media-right
                                        a.media-heading(href="#") The Secret Cold War Origins of Sharapova's Drug
                                        .meta
                                            .meta-info
                                                | By
                                                a(href="#").link John Doe   
                                            .meta-info
                                                | 24 comments
                    .blog-author.media
                        .media-left
                            a.media-image.thumb(href='#')
                                img.avatar(src='assets/images/more-images/avatar-1.jpg', alt='Demo')
                        .media-right
                            a.author(href='http://wp.swlabs.co/goahead/author/admin/') Samuel Wilton   
                            p.des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non laoreet dui. Morbi lacus massa, euismod ut turpis molestie, tristique sodales est. Integer sit amet mi id sapien tempor molestie in nec massa

                    // blog comment
                    .blog-comment
                        h3.title 3 Comments
                        ul.comment-list.list-unstyled
                            li.parent
                                .comment-item
                                    .comment-left
                                        a.media-image(href='#')
                                            img.avatar(src="assets/images/more-images/avatar-1.jpg", alt='admin')
                                    .comment-right
                                        .meta
                                            .meta-info.author
                                                a.link(href='#') Samuel Wilton
                                            .meta-info.time
                                                | Date:
                                                a.link(href='#') 25.04.2016
                                            .meta-info.reply
                                                i.fa.fa-reply
                                                | Reply
                                        .des
                                            p Donec faucibus iaculis nulla a consectetur. Nam sit amet tempor sapien, eu pellentesque justo. Morbi mattam et tempor sapien, eu pellentesque justo orbi mattis masa sed est eleifend.
                                ul.children
                                    li.parent
                                        .comment-item
                                            .comment-left
                                                a.media-image(href='#')
                                                    img.avatar(src="assets/images/more-images/avatar-3.jpg", alt='admin')
                                            .comment-right
                                                .meta
                                                    .meta-info.author
                                                        a.link(href='#') tristan vinci
                                                    .meta-info.time
                                                        | Date:
                                                        a.link(href='#') 25.04.2016
                                                    .meta-info.reply
                                                        i.fa.fa-reply
                                                        | Reply
                                                .des
                                                    p Donec faucibus iaculis nulla a consectetur. Nam sit amet tempor sapien, eu pellentesque justo. Morbi mattam et tempor sapien, eu pellentesque justo orbi mattis masa sed est eleifend.
                            li.parent
                                .comment-item
                                    .comment-left
                                        a.media-image(href='#')
                                            img.avatar(src="assets/images/more-images/avatar-2.jpg", alt='admin')
                                    .comment-right
                                        .meta
                                            .meta-info.author
                                                a.link(href='#') anna jennifer
                                            .meta-info.time
                                                | Date:
                                                a.link(href='#') 25.04.2016
                                            .meta-info.reply
                                                i.fa.fa-reply
                                                | Reply
                                        .des
                                            p Laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure do lor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    .comment-respond
                        h3.title 3 Comments
                        .contact-form-2
                            form.main-form
                                input.form-control(type="text", placeholder="Name")
                                input.form-control(type="email", placeholder="Email Address")
                                input.form-control(type="text", placeholder="Phone Number")
                                textarea.form-control(placeholder="Message")
                            button.btn.main-color(type="submit") submit message
            .col-md-4.col-xs-12.sidebar
                !=partial("_includes/widgets/search")
                !=partial("_includes/widgets/categories-2") 
                !=partial("_includes/widgets/recent-post")
                !=partial("_includes/widgets/archive")
                !=partial("_includes/widgets/tags")
                !=partial("_includes/widgets/banner-adv")
        .banner-bottom
            !=partial("_includes/shortcode/banner-1")