section.slide-banner-1.homepage-plumbing-banner
    .slide-banner-1-item
        img.img-bg(src="assets/images/background/slider-banner-7.jpg", alt="")
        .container.wrapper-item-content
            .content
                .slide-banner-1-item-wrapper
                    h5.subtitle we are upstream plumbing
                    h1.title we build for plumber
                    p.description Always Beside You & Provide The Best Plumbing Services
                    .group-btn
                        a.btn.transparent.white-color(href="#") our services
                        a.btn.main-color(href="#") request quote
    .slide-banner-1-item
        img.img-bg(src="assets/images/background/slider-banner-8.jpg", alt="")
        .container.wrapper-item-content
            .content
                .slide-banner-1-item-wrapper
                    h5.subtitle prompta volumus an vix ad
                    h1.title dio compectur ex nec
                    p.description Always Beside You & Provide The Best Plumbing Services
                    .group-btn
                        a.btn.transparent.white-color(href="#") our services
                        a.btn.main-color(href="#") request quote
    .slide-banner-1-item
        img.img-bg(src="assets/images/background/slider-banner-9.jpg", alt="")
        .container.wrapper-item-content
            .content
                .slide-banner-1-item-wrapper
                    h5.subtitle el cu gracis acmsan lupatum
                    h1.title it id appareat quaestio
                    p.description Always Beside You & Provide The Best Plumbing Services
                    .group-btn
                        a.btn.transparent.white-color(href="#") our services
                        a.btn.main-color(href="#") request quote
.plumbing-services
    .container
        .list-block-service
            .item
                .block-service
                    .block-icons
                        i.flaticon-bathroom-tap-silhouette.icons
                    .block-content
                        .title pipe repairing
                        .description Lorem ipsum dolor sit amet, consecte tur adipisicing elit, sed do.
                    .water-hover
                        svg
                            path.waveShape(d='m 1.4810806,12.859773 0,358.307407 742.0378394,0 0,-360.922789 c 0,0 -20.61084,-7.4397831 -64.9908,2.615382 -30.64025,6.942161 -63.18756,7.000011 -94.14209,2.77792 -27.29442,-3.722864 -42.51823,-14.3171679 -97.97358,-4.521509 -46.92459,8.288782 -81.99291,1.376871 -81.99291,1.376871 0,0 -37.31132,-15.0421469 -92.26813,-4.864045 -50.12657,9.283533 -85.70217,-1e-6 -85.70217,-1e-6 0,0 -35.49986,-8.9670824 -80.73825,-1.238513 -44.97587,7.68372 -69.239209,3.38137 -69.239209,3.38137 -37.51474,-9.8721366 -74.9907004,3.087907 -74.9907004,3.087907 z')
            .item
                .block-service
                    .block-icons
                        i.flaticon-nature.icons
                    .block-content
                        .title water repairing
                        .description Lorem ipsum dolor sit amet, consecte tur adipisicing elit, sed do.
                    .water-hover
                        svg
                            path.waveShape(d='m 1.4810806,12.859773 0,358.307407 742.0378394,0 0,-360.922789 c 0,0 -20.61084,-7.4397831 -64.9908,2.615382 -30.64025,6.942161 -63.18756,7.000011 -94.14209,2.77792 -27.29442,-3.722864 -42.51823,-14.3171679 -97.97358,-4.521509 -46.92459,8.288782 -81.99291,1.376871 -81.99291,1.376871 0,0 -37.31132,-15.0421469 -92.26813,-4.864045 -50.12657,9.283533 -85.70217,-1e-6 -85.70217,-1e-6 0,0 -35.49986,-8.9670824 -80.73825,-1.238513 -44.97587,7.68372 -69.239209,3.38137 -69.239209,3.38137 -37.51474,-9.8721366 -74.9907004,3.087907 -74.9907004,3.087907 z')
            .item
                .block-service
                    .block-icons
                        i.flaticon-buildings-1.icons
                    .block-content
                        .title sink repairing
                        .description Lorem ipsum dolor sit amet, consecte tur adipisicing elit, sed do.
                    .water-hover
                        svg
                            path.waveShape(d='m 1.4810806,12.859773 0,358.307407 742.0378394,0 0,-360.922789 c 0,0 -20.61084,-7.4397831 -64.9908,2.615382 -30.64025,6.942161 -63.18756,7.000011 -94.14209,2.77792 -27.29442,-3.722864 -42.51823,-14.3171679 -97.97358,-4.521509 -46.92459,8.288782 -81.99291,1.376871 -81.99291,1.376871 0,0 -37.31132,-15.0421469 -92.26813,-4.864045 -50.12657,9.283533 -85.70217,-1e-6 -85.70217,-1e-6 0,0 -35.49986,-8.9670824 -80.73825,-1.238513 -44.97587,7.68372 -69.239209,3.38137 -69.239209,3.38137 -37.51474,-9.8721366 -74.9907004,3.087907 -74.9907004,3.087907 z')
            .item
                .block-service
                    .block-icons
                        i.flaticon-technology.icons
                    .block-content
                        .title water repairing
                        .description Lorem ipsum dolor sit amet, consecte tur adipisicing elit, sed do.
                    .water-hover
                        svg
                            path.waveShape(d='m 1.4810806,12.859773 0,358.307407 742.0378394,0 0,-360.922789 c 0,0 -20.61084,-7.4397831 -64.9908,2.615382 -30.64025,6.942161 -63.18756,7.000011 -94.14209,2.77792 -27.29442,-3.722864 -42.51823,-14.3171679 -97.97358,-4.521509 -46.92459,8.288782 -81.99291,1.376871 -81.99291,1.376871 0,0 -37.31132,-15.0421469 -92.26813,-4.864045 -50.12657,9.283533 -85.70217,-1e-6 -85.70217,-1e-6 0,0 -35.49986,-8.9670824 -80.73825,-1.238513 -44.97587,7.68372 -69.239209,3.38137 -69.239209,3.38137 -37.51474,-9.8721366 -74.9907004,3.087907 -74.9907004,3.087907 z')
section.we-are.padding-top-100.padding-bottom-100
    .container
        .row
            .col-md-6.main-content
                .heading-main
                    .main-title.last-dif
                        h5.subtitle about us
                        h2.title we are 
                            span.last upstream 
                .block-content
                    h4.title We Are A Effective Team
                    p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                    h4.title We provide the best services
                    p.description Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehenderit. Voluptate velit esse cillum dolore eu fugiat.
                    a.btn.main-color(href="#") view our team
        img(src="assets/images/team/image-14.png", alt="").side-img
.plumbing-banner
    !=partial("_includes/shortcode/banner-5")
section.image-gallery.no-line.padding-top-100.padding-bottom-100.plumbing-gallery
    .container
        .heading-main
            .header-left
                .main-title
                    h5.subtitle our projects
                    h2.title featured work
            .header-right
                ul.tablist.tablist-homepage-1(role="tablist")
                    li.active(role="presentation")
                        a.link(href="#tab-1", role="tab", data-toggle="tab") construction
                    li(role="presentation")
                        a.link(href="#tab-2", role="tab", data-toggle="tab") interior
                    li(role="presentation")
                        a.link(href="#tab-3", role="tab", data-toggle="tab") architect
                    li(role="presentation")
                        a.link(href="#tab-4", role="tab", data-toggle="tab") building
                    li(role="presentation")
                        a.link(href="#tab-5", role="tab", data-toggle="tab") plumbing
            .clearfix
        .tab-content
            #tab-1.tab-pane.fade.in.active(role="tabpanel")
                .gallery-image-grid.style-3
                    .grid-item.tab-14.tab-13.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-47.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title APPEXPO
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.grid-item-width-2.tab-11.tab-15.tab-13
                        .block-1
                            .block-image.block-gallery-images
                                .gallery-images-nested
                                    .item
                                        .block-image-gallery
                                            img.img-full(src="assets/images/post/image-46.jpg", alt="")
                                            span.bg-overlay
                                            .content
                                                a.link(href="#") Architect
                                                .title TRANSERA
                                            a.readmore-icons(href="#")
                                                i.icons.flaticon-bleed
                                    .item
                                        .block-image-gallery
                                            img.img-full(src="assets/images/post/image-49.jpg", alt="")
                                            span.bg-overlay
                                            .content
                                                a.link(href="#") Architect
                                                .title TRANSERA
                                            a.readmore-icons(href="#")
                                                i.icons.flaticon-bleed
                                    .item
                                        .block-image-gallery
                                            img.img-full(src="assets/images/post/image-47.jpg", alt="")
                                            span.bg-overlay
                                            .content
                                                a.link(href="#") Architect
                                                .title TRANSERA
                                            a.readmore-icons(href="#")
                                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-14.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-45.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title MAGICLEAN
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-12.tab-13.tab-14.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-49.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title SOLABIZ
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-48.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title ALAB
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
            #tab-2.tab-pane.fade(role="tabpanel")
                .gallery-image-grid.style-3
                    .grid-item.tab-14.tab-13.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-45.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title FLOURY
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-14.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-46.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title TRANSERA
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.grid-item-width-2.tab-11.tab-15.tab-13
                        .block-1
                            .block-image.block-gallery-images
                                .gallery-images-nested
                                    .item
                                        .block-image-gallery
                                            img.img-full(src="assets/images/post/image-46.jpg", alt="")
                                            span.bg-overlay
                                            .content
                                                a.link(href="#") Architect
                                                .title TRANSERA
                                            a.readmore-icons(href="#")
                                                i.icons.flaticon-bleed
                                    .item
                                        .block-image-gallery
                                            img.img-full(src="assets/images/post/image-49.jpg", alt="")
                                            span.bg-overlay
                                            .content
                                                a.link(href="#") Architect
                                                .title TRANSERA
                                            a.readmore-icons(href="#")
                                                i.icons.flaticon-bleed
                                    .item
                                        .block-image-gallery
                                            img.img-full(src="assets/images/post/image-47.jpg", alt="")
                                            span.bg-overlay
                                            .content
                                                a.link(href="#") Architect
                                                .title TRANSERA
                                            a.readmore-icons(href="#")
                                                i.icons.flaticon-bleed
                    .grid-item.tab-12.tab-13.tab-14.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-48.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title SOLALA
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-49.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title FLEXI
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
            #tab-3.tab-pane.fade(role="tabpanel")
                .gallery-image-grid.style-3
                    .grid-item.tab-14.tab-13.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-46.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title FLOURY
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-14.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-49.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title TRANSERA
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.grid-item-width-2.tab-11.tab-15.tab-13
                        .block-1
                            .block-image.block-gallery-images
                                .gallery-images-nested
                                    .item
                                        .block-image-gallery
                                            img.img-full(src="assets/images/post/image-46.jpg", alt="")
                                            span.bg-overlay
                                            .content
                                                a.link(href="#") Architect
                                                .title TRANSERA
                                            a.readmore-icons(href="#")
                                                i.icons.flaticon-bleed
                                    .item
                                        .block-image-gallery
                                            img.img-full(src="assets/images/post/image-49.jpg", alt="")
                                            span.bg-overlay
                                            .content
                                                a.link(href="#") Architect
                                                .title TRANSERA
                                            a.readmore-icons(href="#")
                                                i.icons.flaticon-bleed
                                    .item
                                        .block-image-gallery
                                            img.img-full(src="assets/images/post/image-47.jpg", alt="")
                                            span.bg-overlay
                                            .content
                                                a.link(href="#") Architect
                                                .title TRANSERA
                                            a.readmore-icons(href="#")
                                                i.icons.flaticon-bleed
                    .grid-item.tab-12.tab-13.tab-14.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-48.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title SOLALA
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-47.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title FLEXI
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
            #tab-4.tab-pane.fade(role="tabpanel")
                .gallery-image-grid.style-3
                    .grid-item.tab-14.tab-13.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-49.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title APPEXPO
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.grid-item-width-2.tab-11.tab-15.tab-13
                        .block-1
                            .block-image.block-gallery-images
                                .gallery-images-nested
                                    .item
                                        .block-image-gallery
                                            img.img-full(src="assets/images/post/image-46.jpg", alt="")
                                            span.bg-overlay
                                            .content
                                                a.link(href="#") Architect
                                                .title TRANSERA
                                            a.readmore-icons(href="#")
                                                i.icons.flaticon-bleed
                                    .item
                                        .block-image-gallery
                                            img.img-full(src="assets/images/post/image-49.jpg", alt="")
                                            span.bg-overlay
                                            .content
                                                a.link(href="#") Architect
                                                .title TRANSERA
                                            a.readmore-icons(href="#")
                                                i.icons.flaticon-bleed
                                    .item
                                        .block-image-gallery
                                            img.img-full(src="assets/images/post/image-47.jpg", alt="")
                                            span.bg-overlay
                                            .content
                                                a.link(href="#") Architect
                                                .title TRANSERA
                                            a.readmore-icons(href="#")
                                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-14.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-45.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title MAGICLEAN
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-12.tab-13.tab-14.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-48.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title SOLABIZ
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-46.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title ALAB
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
            #tab-5.tab-pane.fade(role="tabpanel")
                .gallery-image-grid.style-3
                    .grid-item.tab-14.tab-13.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-45.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title FLOURY
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-14.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-47.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title TRANSERA
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.grid-item-width-2.tab-11.tab-15.tab-13
                        .block-1
                            .block-image.block-gallery-images
                                .gallery-images-nested
                                    .item
                                        .block-image-gallery
                                            img.img-full(src="assets/images/post/image-46.jpg", alt="")
                                            span.bg-overlay
                                            .content
                                                a.link(href="#") Architect
                                                .title TRANSERA
                                            a.readmore-icons(href="#")
                                                i.icons.flaticon-bleed
                                    .item
                                        .block-image-gallery
                                            img.img-full(src="assets/images/post/image-49.jpg", alt="")
                                            span.bg-overlay
                                            .content
                                                a.link(href="#") Architect
                                                .title TRANSERA
                                            a.readmore-icons(href="#")
                                                i.icons.flaticon-bleed
                                    .item
                                        .block-image-gallery
                                            img.img-full(src="assets/images/post/image-47.jpg", alt="")
                                            span.bg-overlay
                                            .content
                                                a.link(href="#") Architect
                                                .title TRANSERA
                                            a.readmore-icons(href="#")
                                                i.icons.flaticon-bleed
                    .grid-item.tab-12.tab-13.tab-14.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-46.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title APPEXPO
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-49.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title SOLALA
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
.plumbing-fact.white
    .container
        !=partial("_includes/shortcode/list-count-to") 
.recent-news-testimonial.padding-top-100.padding-bottom-100
    .container
        .row
            .col-md-6.col-xs-12
                .heading-main
                    .main-title
                        h5.subtitle blog post
                        h2.title recent news
                .list-block.column-1
                    .item
                        .block-2
                            .block-image
                                img.img-full(src="assets/images/post/image-50.jpg", alt="")
                                .block-info
                                    .block
                                        p.link date:
                                        a.link.date(href="#") 25.07.2016
                                    .block
                                        p.link 24 comments
                            .block-content     
                                a.title(href="#") The Universe Through A Child S Eyes
                                .description
                                    p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                    .item
                        .block-2
                            .block-image
                                img.img-full(src="assets/images/post/image-51.jpg", alt="")
                                .block-info
                                    .block
                                        p.link date:
                                        a.link.date(href="#") 25.07.2016
                                    .block
                                        p.link 24 comments
                            .block-content     
                                a.title(href="#") What If They Let You Run The Hubble
                                .description
                                    p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            .col-md-6.col-xs-12
                .heading-main
                    .main-title
                        h5.subtitle what they say
                        h2.title testimonial
                .testimonial-wrapper
                    !=partial("_includes/shortcode/testimonial-3")
                .logo-wrapper
                    !=partial("_includes/list-logo-plumbing")
.plumbing-banner-2.padding-top-100.padding-bottom-100
    .container
        !=partial("_includes/shortcode/banner-6")
