section.homepage-2-banner
    .container
        .banner-item-wrapper
            .banner-item
                h5.subtitle we are born to serve
                h1.title we build your dream
                p.description provide the best construction services
                a.btn(href="#") view more
        .rectangle
        .banner-img-wrapper
            img(src="assets/images/team/image-12.png" alt="").img-full
.section-service.no-img-bg.bg-blue.padding-top-100
    .container
        .slide-block.column-3.no-dots.padding-top-100.padding-bottom-100
            .item
                .block-1
                    .block-image
                        img.img-full(src="assets/images/post/image-10.jpg", alt="")
                        a.link(href="#")
                    .block-content
                        a.title(href="#") Construction
                        .description
                            p.text Lorem ipsum dolor sit amet, consectetur adipisic elit, sed do eiusmod tempor incididunt ut.
                        a.readmore(href="#")
                            span.text read more
                            i.icons.fa.fa-angle-double-right
            .item
                .block-1
                    .block-image
                        img.img-full(src="assets/images/post/image-1.jpg", alt="")
                        a.link(href="#")
                    .block-content
                        a.title(href="#") Consultant
                        .description
                            p.text Lorem ipsum dolor sit amet, consectetur adipisic elit, sed do eiusmod tempor incididunt ut.
                        a.readmore(href="#")
                            span.text read more
                            i.icons.fa.fa-angle-double-right
            .item
                .block-1
                    .block-image
                        img.img-full(src="assets/images/post/image-8.jpg", alt="")
                        a.link(href="#")
                    .block-content
                        a.title(href="#") Architecture
                        .description
                            p.text Lorem ipsum dolor sit amet, consectetur adipisic elit, sed do eiusmod tempor incididunt ut.
                        a.readmore(href="#")
                            span.text read more
                            i.icons.fa.fa-angle-double-right
            .item
                .block-1
                    .block-image
                        img.img-full(src="assets/images/post/image-6.jpg", alt="")
                        a.link(href="#")
                    .block-content
                        a.title(href="#") Construction
                        .description
                            p.text Lorem ipsum dolor sit amet, consectetur adipisic elit, sed do eiusmod tempor incididunt ut.
                        a.readmore(href="#")
                            span.text read more
                            i.icons.fa.fa-angle-double-right
            .item
                .block-1
                    .block-image
                        img.img-full(src="assets/images/post/image-1.jpg", alt="")
                        a.link(href="#")
                    .block-content
                        a.title(href="#") Consultant
                        .description
                            p.text Lorem ipsum dolor sit amet, consectetur adipisic elit, sed do eiusmod tempor incididunt ut.
                        a.readmore(href="#")
                            span.text read more
                            i.icons.fa.fa-angle-double-right
            .item
                .block-1
                    .block-image
                        img.img-full(src="assets/images/post/image-4.jpg", alt="")
                        a.link(href="#")
                    .block-content
                        a.title(href="#") Architecture
                        .description
                            p.text Lorem ipsum dolor sit amet, consectetur adipisic elit, sed do eiusmod tempor incididunt ut.
                        a.readmore(href="#")
                            span.text read more
                            i.icons.fa.fa-angle-double-right
section.image-gallery.padding-top-100.padding-bottom-100.bg-light-blue
    .container
        .heading-main
            .header-left
                .main-title
                    h5.subtitle our projects
                    h2.title featured work
            .header-right
                ul.tablist(role="tablist")
                    li.active(role="presentation")
                        a.link(href="#tab-1", role="tab", data-toggle="tab") construction
                    li(role="presentation")
                        a.link(href="#tab-2", role="tab", data-toggle="tab") interior
                    li(role="presentation")
                        a.link(href="#tab-3", role="tab", data-toggle="tab") architect
                    li(role="presentation")
                        a.link(href="#tab-4", role="tab", data-toggle="tab") building
                    li(role="presentation")
                        a.link(href="#tab-5", role="tab", data-toggle="tab") plumbing
            .clearfix
    .tab-content
        #tab-1.tab-pane.fade.in.active(role="tabpanel")
            !=partial("_includes/list-gallery-8-item", { link_1: "Architect", title_1: "GRASSY", image_1: "assets/images/post/image-27.jpg", link_2:"Duis omnis", title_2: "FLOURY", image_2:"assets/images/post/image-26.jpg", link_3: "Est quaeque", title_3: "MAGICLEAN", image_3:"assets/images/post/image-25.jpg", link_4:"Eu bonorum", title_4: "APPEXPO", image_4:"assets/images/post/image-28.jpg", link_5:"Vim ex", title_5: "SOLALA", image_5:"assets/images/post/image-24.jpg", link_6:"Facete accusata", title_6: "TRANSERA ", image_6:"assets/images/post/image-23.jpg", link_7:"Idque utinam", title_7: "ALAB", image_7:"assets/images/post/image-22.jpg", link_8:"Ne vis", title_8: "BUILDPLUS", image_8:"assets/images/post/image-29.jpg"} )
        #tab-2.tab-pane.fade(role="tabpanel")
            !=partial("_includes/list-gallery-8-item", { link_1: "Architect", title_1: "FLOURY", image_1: "assets/images/post/image-29.jpg", link_2:"Duis omnis", title_2: "TRANSERA", image_2:"assets/images/post/image-28.jpg", link_3: "Est quaeque", title_3: "BUILDPLUS", image_3:"assets/images/post/image-27.jpg", link_4:"Eu bonorum", title_4: "SOLALA", image_4:"assets/images/post/image-30.jpg", link_5:"Vim ex", title_5: "FLEXI", image_5:"assets/images/post/image-26.jpg", link_6:"Facete accusata", title_6: "APPEXPO", image_6:"assets/images/post/image-25.jpg", link_7:"Idque utinam", title_7: "GRASSY", image_7:"assets/images/post/image-24.jpg", link_8:"Ne vis", title_8: "MAGICLEAN", image_8:"assets/images/post/image-21.jpg"} )
        #tab-3.tab-pane.fade(role="tabpanel")
            !=partial("_includes/list-gallery-8-item", { link_1: "Architect", title_1: "SOLABIZ", image_1: "assets/images/post/image-28.jpg", link_2:"Duis omnis", title_2: "ALAB", image_2:"assets/images/post/image-27.jpg", link_3: "Est quaeque", title_3: "FLOURY ", image_3:"assets/images/post/image-26.jpg", link_4:"Eu bonorum", title_4: "TRANSERA", image_4:"assets/images/post/image-29.jpg", link_5:"Vim ex", title_5: "BUILDPLUS", image_5:"assets/images/post/image-25.jpg", link_6:"Facete accusata", title_6: "SOLALA", image_6:"assets/images/post/image-24.jpg", link_7:"Idque utinam", title_7: "FLEXI", image_7:"assets/images/post/image-23.jpg", link_8:"Ne vis", title_8: "APPEXPO", image_8:"assets/images/post/image-30.jpg"} )
        #tab-4.tab-pane.fade(role="tabpanel")
            !=partial("_includes/list-gallery-8-item", { link_1: "Architect", title_1: "GRASSY", image_1: "assets/images/post/image-30.jpg", link_2:"Duis omnis", title_2: "MAGICLEAN", image_2:"assets/images/post/image-29.jpg", link_3: "Est quaeque", title_3: "SOLABIZ", image_3:"assets/images/post/image-28.jpg", link_4:"Eu bonorum", title_4: "ALAB", image_4:"assets/images/post/image-21.jpg", link_5:"Vim ex", title_5: "FLOURY", image_5:"assets/images/post/image-27.jpg", link_6:"Facete accusata", title_6: "TRANSERA", image_6:"assets/images/post/image-26.jpg", link_7:"Idque utinam", title_7: "BUILDPLUS", image_7:"assets/images/post/image-25.jpg", link_8:"Ne vis", title_8: "SOLALA", image_8:"assets/images/post/image-22.jpg"} )
        #tab-5.tab-pane.fade(role="tabpanel")
            !=partial("_includes/list-gallery-8-item", { link_1: "Architect", title_1: "FLEXI", image_1: "assets/images/post/image-22.jpg", link_2:"Duis omnis", title_2: "APPEXPO", image_2:"assets/images/post/image-21.jpg", link_3: "Est quaeque", title_3: "GRASSY", image_3:"assets/images/post/image-30.jpg", link_4:"Eu bonorum", title_4: "MAGICLEAN", image_4:"assets/images/post/image-23.jpg", link_5:"Vim ex", title_5: "SOLABIZ", image_5:"assets/images/post/image-29.jpg", link_6:"Facete accusata", title_6: "ALAB", image_6:"assets/images/post/image-28.jpg", link_7:"Idque utinam", title_7: "FLOURY", image_7:"assets/images/post/image-27.jpg", link_8:"Ne vis", title_8: "TRANSERA", image_8:"assets/images/post/image-24.jpg"} )
    .container.btn-container
        a.btn.main-color(href="#") check more project
.fact.bg-blue.white
    .container
        !=partial("_includes/shortcode/list-count-to") 
section.how-we-work.padding-top-100.padding-bottom-100
    .container
        .heading-main
            .main-title
                h5.subtitle about us
                h2.title how we work
        .row
            .col-md-8.list-block-wrapper
                !=partial("_includes/shortcode/list-block-icon-1")
            img.img-responsive(src="assets/images/team/image-8.png", alt="").side-img
section.why-choose-us.padding-top-100.padding-bottom-100
    .container 
        .row
            .col-md-6.item
                .heading-main
                    .main-title
                        h5.subtitle about us
                        h2.title why choose us
                .block-content
                    h4.title We Are A Effective Team
                    p.description  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                    h4.title We provide the best services
                    p.description Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehenderit. Voluptate velit esse cillum dolore eu fugiat.
                    a.btn.main-color(href="#") view our team
            .col-md-6.item
                .block-video
                    .btn-play 
                        img.img-responsive(src="assets/images/more-images/btn-playvideo.png", alt="")
                    .btn-close
                        img.img-responsive(src="assets/images/more-images/btn-closevideo.png", alt="")
                    img.img-full(src="assets/images/post/image-5.jpg", alt="")
                    iframe.video-embed(src="https://www.youtube.com/embed/1k2NRnc9vQ4?rel=0" allowfullscreen)
.testimonial-homepage-2
    .container
        .testimonial-wrapper
            !=partial("_includes/shortcode/testimonial-1")
        .logo-wrapper
            !=partial("_includes/list-logo-alt")
section.recent-news.padding-top-100.padding-bottom-100
    .container
        !=partial("_includes/recent-news")
        .banner-bottom
            !=partial("_includes/shortcode/banner-1")