section.slide-banner-1.homepage-cleaning-banner
    .slide-banner-1-item
        img.img-bg(src="assets/images/background/slider-banner-4.jpg", alt="")
        .container.wrapper-item-content
            .content
                .slide-banner-1-item-wrapper
                    h5.subtitle we are washesup cleaning
                    h1.title make your home clean
                    p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                    .group-btn
                        a.btn.transparent.white-color(href="#") our services
                        a.btn.main-color(href="#") request quote
    .slide-banner-1-item
        img.img-bg(src="assets/images/background/slider-banner-5.jpg", alt="")
        .container.wrapper-item-content
            .content
                .slide-banner-1-item-wrapper
                    h5.subtitle prompta volumus an vix ad
                    h1.title dio compectur ex nec
                    p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                    .group-btn
                        a.btn.transparent.white-color(href="#") our services
                        a.btn.main-color(href="#") request quote
    .slide-banner-1-item
        img.img-bg(src="assets/images/background/slider-banner-6.jpg", alt="")
        .container.wrapper-item-content
            .content
                .slide-banner-1-item-wrapper
                    h5.subtitle el cu gracis acmsan lupatum
                    h1.title it id appareat quaestio
                    p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                    .group-btn
                        a.btn.transparent.white-color(href="#") our services
                        a.btn.main-color(href="#") request quote
.cleaning-services-block
    .container
        .list-services-wrapper
            .slide-block.column-3.no-dots.list-services
                .item
                    .block-1
                        .block-image
                            img.img-full(src="assets/images/post/image-31.jpg", alt="")
                            a.link(href="#")
                        .block-content
                            a.title(href="#") Home Cleaning
                            .description
                                p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                            a.readmore(href="#")
                                span.text read more
                                i.icons.fa.fa-angle-double-right
                .item
                    .block-1
                        .block-image
                            img.img-full(src="assets/images/post/image-32.jpg", alt="")
                            a.link(href="#")
                        .block-content
                            a.title(href="#") Commercial cleaning
                            .description
                                p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                            a.readmore(href="#")
                                span.text read more
                                i.icons.fa.fa-angle-double-right
                .item
                    .block-1
                        .block-image
                            img.img-full(src="assets/images/post/image-33.jpg", alt="")
                            a.link(href="#")
                        .block-content
                            a.title(href="#") Verhicle Cleaning
                            .description
                                p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                            a.readmore(href="#")
                                span.text read more
                                i.icons.fa.fa-angle-double-right
                .item
                    .block-1
                        .block-image
                            img.img-full(src="assets/images/post/image-33.jpg", alt="")
                            a.link(href="#")
                        .block-content
                            a.title(href="#") Verhicle Cleaning
                            .description
                                p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                            a.readmore(href="#")
                                span.text read more
                                i.icons.fa.fa-angle-double-right
                .item
                    .block-1
                        .block-image
                            img.img-full(src="assets/images/post/image-31.jpg", alt="")
                            a.link(href="#")
                        .block-content
                            a.title(href="#") Home Cleaning
                            .description
                                p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                            a.readmore(href="#")
                                span.text read more
                                i.icons.fa.fa-angle-double-right
                .item
                    .block-1
                        .block-image
                            img.img-full(src="assets/images/post/image-32.jpg", alt="")
                            a.link(href="#")
                        .block-content
                            a.title(href="#") Commercial cleaning
                            .description
                                p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                            a.readmore(href="#")
                                span.text read more
                                i.icons.fa.fa-angle-double-right
                .item
                    .block-1
                        .block-image
                            img.img-full(src="assets/images/post/image-32.jpg", alt="")
                            a.link(href="#")
                        .block-content
                            a.title(href="#") Commercial cleaning
                            .description
                                p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                            a.readmore(href="#")
                                span.text read more
                                i.icons.fa.fa-angle-double-right
                .item
                    .block-1
                        .block-image
                            img.img-full(src="assets/images/post/image-33.jpg", alt="")
                            a.link(href="#")
                        .block-content
                            a.title(href="#") Verhicle Cleaning
                            .description
                                p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                            a.readmore(href="#")
                                span.text read more
                                i.icons.fa.fa-angle-double-right
                .item
                    .block-1
                        .block-image
                            img.img-full(src="assets/images/post/image-33.jpg", alt="")
                            a.link(href="#")
                        .block-content
                            a.title(href="#") Verhicle Cleaning
                            .description
                                p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                            a.readmore(href="#")
                                span.text read more
                                i.icons.fa.fa-angle-double-right
            .clearfix
.cleaning-services.padding-top-100.padding-bottom-100
    .container
        .row
            .col-md-7
                .heading-main
                    .main-title
                        h5.subtitle We Provide The Best Of Cleaning Services
                        h2.title the deeper cleaning services
                .detail-content
                    h4.title Something About me
                    p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est un  no laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore.
                    ul
                        li We provide organize in 24h cheap, clean and deep services.
                        li Prefessional Cleaning Services For Verhicle
                        li We provide organize in 24h cheap, clean and deep services.
                        li Prefessional Cleaning Services For Verhicle
            .col-md-5
                .list-block.column-1
                    .item
                        .recent-post-inner
                            .media.style-4
                                .media-left
                                    a.wrapper-image(href="#")
                                        img.media-object(src="assets/images/post/image-34.jpg", alt="")
                                .media-right
                                    a.media-heading(href="#") Get Satisfied With Services We Provide A-Z
                                    p.media-description Easy buying the right telescope to take your love to the next level is a big next step.
                    .item
                        .recent-post-inner
                            .media.style-4
                                .media-left
                                    a.wrapper-image(href="#")
                                        img.media-object(src="assets/images/post/image-35.jpg", alt="")
                                .media-right
                                    a.media-heading(href="#") Make A Good Services For Verhicle
                                    p.media-description Easy buying the right telescope to take your love to the next level is a big next step.
                    .item
                        .recent-post-inner
                            .media.style-4
                                .media-left
                                    a.wrapper-image(href="#")
                                        img.media-object(src="assets/images/post/image-36.jpg", alt="")
                                .media-right
                                    a.media-heading(href="#") Quick And Responsibility Support Service
                                    p.media-description Easy buying the right telescope to take your love to the next level is a big next step.
section.image-gallery.padding-top-100.bg-blue.white
    .container
        .heading-main
            .header-left
                .main-title
                    h5.subtitle how we did
                    h2.title work gallery
            .header-right
                ul.tablist(role="tablist")
                    li.active(role="presentation")
                        a.link(href="#tab-1", role="tab", data-toggle="tab") home cleaning
                    li(role="presentation")
                        a.link(href="#tab-2", role="tab", data-toggle="tab") commercial cleaning
                    li(role="presentation")
                        a.link(href="#tab-3", role="tab", data-toggle="tab") verhicle cleaning
                    li(role="presentation")
                        a.link(href="#tab-4", role="tab", data-toggle="tab") maintenance
            .clearfix
    .tab-content
        #tab-1.tab-pane.fade.in.active(role="tabpanel")
            !=partial("_includes/list-gallery-8-item", { link_1: "Architect", title_1: "GRASSY", image_1: "assets/images/post/image-31.jpg", link_2:"Duis omnis", title_2: "FLOURY", image_2:"assets/images/post/image-32.jpg", link_3: "Est quaeque", title_3: "MAGICLEAN", image_3:"assets/images/post/image-33.jpg", link_4:"Eu bonorum", title_4: "APPEXPO", image_4:"assets/images/post/image-34.jpg", link_5:"Vim ex", title_5: "SOLALA", image_5:"assets/images/post/image-35.jpg", link_6:"Facete accusata", title_6: "TRANSERA ", image_6:"assets/images/post/image-36.jpg", link_7:"Idque utinam", title_7: "ALAB", image_7:"assets/images/post/image-37.jpg", link_8:"Ne vis", title_8: "BUILDPLUS", image_8:"assets/images/post/image-38.jpg"} )
        #tab-2.tab-pane.fade(role="tabpanel")
            !=partial("_includes/list-gallery-8-item", { link_1: "Architect", title_1: "FLOURY", image_1: "assets/images/post/image-39.jpg", link_2:"Duis omnis", title_2: "TRANSERA", image_2:"assets/images/post/image-40.jpg", link_3: "Est quaeque", title_3: "BUILDPLUS", image_3:"assets/images/post/image-41.jpg", link_4:"Eu bonorum", title_4: "SOLALA", image_4:"assets/images/post/image-42.jpg", link_5:"Vim ex", title_5: "FLEXI", image_5:"assets/images/post/image-31.jpg", link_6:"Facete accusata", title_6: "APPEXPO", image_6:"assets/images/post/image-32.jpg", link_7:"Idque utinam", title_7: "GRASSY", image_7:"assets/images/post/image-33.jpg", link_8:"Ne vis", title_8: "MAGICLEAN", image_8:"assets/images/post/image-34.jpg"} )
        #tab-3.tab-pane.fade(role="tabpanel")
            !=partial("_includes/list-gallery-8-item", { link_1: "Architect", title_1: "SOLABIZ", image_1: "assets/images/post/image-35.jpg", link_2:"Duis omnis", title_2: "ALAB", image_2:"assets/images/post/image-36.jpg", link_3: "Est quaeque", title_3: "FLOURY ", image_3:"assets/images/post/image-37.jpg", link_4:"Eu bonorum", title_4: "TRANSERA", image_4:"assets/images/post/image-38.jpg", link_5:"Vim ex", title_5: "BUILDPLUS", image_5:"assets/images/post/image-39.jpg", link_6:"Facete accusata", title_6: "SOLALA", image_6:"assets/images/post/image-40.jpg", link_7:"Idque utinam", title_7: "FLEXI", image_7:"assets/images/post/image-41.jpg", link_8:"Ne vis", title_8: "APPEXPO", image_8:"assets/images/post/image-42.jpg"} )
        #tab-4.tab-pane.fade(role="tabpanel")
            !=partial("_includes/list-gallery-8-item", { link_1: "Architect", title_1: "GRASSY", image_1: "assets/images/post/image-35.jpg", link_2:"Duis omnis", title_2: "MAGICLEAN", image_2:"assets/images/post/image-33.jpg", link_3: "Est quaeque", title_3: "SOLABIZ", image_3:"assets/images/post/image-34.jpg", link_4:"Eu bonorum", title_4: "ALAB", image_4:"assets/images/post/image-32.jpg", link_5:"Vim ex", title_5: "FLOURY", image_5:"assets/images/post/image-38.jpg", link_6:"Facete accusata", title_6: "TRANSERA", image_6:"assets/images/post/image-31.jpg", link_7:"Idque utinam", title_7: "BUILDPLUS", image_7:"assets/images/post/image-41.jpg", link_8:"Ne vis", title_8: "SOLALA", image_8:"assets/images/post/image-37.jpg"} )
section.pricing-plan.padding-top-100.padding-bottom-100
    .container
        .heading-main.text-center
            .main-title
                h5.subtitle pricing plan
                h2.title our packages
        .list-pricing-plan
            .list-block.column-4
                .item
                    .package-content
                        .title single visit
                        .description Extra charges are based on extra work taken.
                        .price 
                            sup.unit $
                            | 25
                            span.per / visit
                        a(href="#").btn choose one
                .item
                    .package-content
                        .title on demand
                        .description Extra charges are based on extra work taken.
                        .price 
                            sup.unit $
                            | 95
                            span.per / visit
                        a(href="#").btn choose one
                .item
                    .package-content
                        .title maintance
                        .description Extra charges are based on extra work taken.
                        .price 
                            sup.unit $
                            | 125
                            span.per / mo
                        a(href="#").btn choose one
                .item
                    .package-content
                        .title complate pack
                        .description Extra charges are based on extra work taken.
                        .price 
                            sup.unit $
                            | 225
                            span.per / mo
                        a(href="#").btn choose one
section.cleaning-banner.padding-top-100.padding-bottom-100
    .container
        .row
            .col-md-7
                !=partial("_includes/shortcode/banner-4")
            img(src="assets/images/team/image-13.png", alt="").side-img
section.cleaning-recent-news.padding-top-100.padding-bottom-100
    .container
        .heading-main
            .main-title
                h5.subtitle blog post
                h2.title recent news
        .list-block.column-2
            .item
                .block-2
                    .block-image
                        img.img-full(src="assets/images/post/image-39.jpg", alt="")
                        .block-info
                            .block
                                p.link date:
                                a.link.date(href="#") 25.07.2016
                            .block
                                p.link 24 comments
                    .block-content     
                        a.title(href="#") The Universe Through A Child S Eyes
                        .description
                            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            .item
                .block-2
                    .block-image
                        img.img-full(src="assets/images/post/image-32.jpg", alt="")
                        .block-info
                            .block
                                p.link date:
                                a.link.date(href="#") 25.07.2016
                            .block
                                p.link 24 comments
                    .block-content     
                        a.title(href="#") What If They Let You Run The Hubble
                        .description
                            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            .item
                .block-2
                    .block-image
                        img.img-full(src="assets/images/post/image-43.jpg", alt="")
                        .block-info
                            .block
                                p.link date:
                                a.link.date(href="#") 25.07.2016
                            .block
                                p.link 24 comments
                    .block-content     
                        a.title(href="#") The Universe Through A Child S Eyes
                        .description
                            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            .item
                .block-2
                    .block-image
                        img.img-full(src="assets/images/post/image-44.jpg", alt="")
                        .block-info
                            .block
                                p.link date:
                                a.link.date(href="#") 25.07.2016
                            .block
                                p.link 24 comments
                    .block-content     
                        a.title(href="#") What If They Let You Run The Hubble
                        .description
                            p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
.testimonial-homepage-cleaning
    .container
        .testimonial-wrapper
            !=partial("_includes/shortcode/testimonial-1")
        .logo-wrapper
            !=partial("_includes/list-logo-alt")
        .banner-bottom.reverse
            !=partial("_includes/shortcode/banner-1")
