section.slide-banner-1.homepage-1-banner
    .slide-banner-1-item
        img.img-bg(src="assets/images/background/banner-homepage-1.jpg", alt="")
        .container.wrapper-item-content.text-center
            .banner-title
                h1.title welcome to buildplus
                h5.subtitle come to the world since 1992
            .rectangle
            .banner-video-wrapper
                .block-video
                    .btn-play-1(data-toggle="modal" data-target="#myModal")
                        img.img-responsive(src="assets/images/more-images/btn-playvideo.png", alt="")
                    img.img-full(src="assets/images/post/image-1.jpg", alt="")
    .slide-banner-1-item
        img.img-bg(src="assets/images/background/slider-banner-2.jpg", alt="")
        .container.wrapper-item-content
            .content
                .slide-banner-1-item-wrapper
                    h5.subtitle We Are Buildplus
                    h1.title WELCOME TO BUILDPLUS
                    p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    a.btn.main-color(href="#") view more
section.we-are.padding-top-100.padding-bottom-100
    .container
        .row
            .col-md-6.main-content
                .heading-main
                    .main-title.last-dif
                        h5.subtitle about us
                        h2.title we are 
                            span.last buildplus
                .block-content
                    h4.title We Are A Effective Team
                    p.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                    h4.title We provide the best services
                    p.description Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehenderit. Voluptate velit esse cillum dolore eu fugiat.
                    a.btn.main-color(href="#") our story
        img(src="assets/images/team/image-6.png", alt="").img-full
section.image-gallery.no-line.padding-top-100.padding-bottom-100.bg-blue.white
    .container
        .heading-main
            .header-left
                .main-title
                    h5.subtitle our projects
                    h2.title featured work
            .header-right
                ul.tablist.tablist-homepage-1(role="tablist")
                    li.active(role="presentation")
                        a.link(href="#tab-1", role="tab", data-toggle="tab") construction
                    li(role="presentation")
                        a.link(href="#tab-2", role="tab", data-toggle="tab") interior
                    li(role="presentation")
                        a.link(href="#tab-3", role="tab", data-toggle="tab") architect
                    li(role="presentation")
                        a.link(href="#tab-4", role="tab", data-toggle="tab") building
                    li(role="presentation")
                        a.link(href="#tab-5", role="tab", data-toggle="tab") plumbing
            .clearfix
        .tab-content
            #tab-1.tab-pane.fade.in.active(role="tabpanel")
                .gallery-image-grid.style-3
                    .grid-item.tab-14.tab-13.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-21.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title FLOURY
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-14.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-22.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title TRANSERA
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.grid-item-width-2.tab-11.tab-15.tab-13
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-23.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title BUILDPLUS
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-12.tab-13.tab-14.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-24.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title SOLALA
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-25.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title FLEXI
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
            #tab-2.tab-pane.fade(role="tabpanel")
                .gallery-image-grid.style-3
                    .grid-item.tab-14.tab-13.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-26.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title APPEXPO
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.grid-item-width-2.tab-11.tab-15.tab-13
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-27.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title GRASSY
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-14.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-28.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title MAGICLEAN
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-12.tab-13.tab-14.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-29.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title SOLABIZ
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-30.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title ALAB
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
            #tab-3.tab-pane.fade(role="tabpanel")
                .gallery-image-grid.style-3
                    .grid-item.tab-14.tab-13.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-22.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title FLOURY
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-14.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-24.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title TRANSERA
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.grid-item-width-2.tab-11.tab-15.tab-13
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-26.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title BUILDPLUS
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-12.tab-13.tab-14.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-28.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title SOLALA
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-21.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title FLEXI
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
            #tab-4.tab-pane.fade(role="tabpanel")
                .gallery-image-grid.style-3
                    .grid-item.tab-14.tab-13.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-29.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title APPEXPO
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.grid-item-width-2.tab-11.tab-15.tab-13
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-27.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title GRASSY
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-14.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-25.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title MAGICLEAN
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-12.tab-13.tab-14.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-23.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title SOLABIZ
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-26.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title ALAB
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
            #tab-5.tab-pane.fade(role="tabpanel")
                .gallery-image-grid.style-3
                    .grid-item.tab-14.tab-13.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-23.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title FLOURY
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-14.tab-12
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-26.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title TRANSERA
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.grid-item-width-2.tab-11.tab-15.tab-13
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-29.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title BUILDPLUS
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-12.tab-13.tab-14.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-21.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title APPEXPO
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
                    .grid-item.tab-11.tab-13.tab-15
                        .block-image-gallery
                            img.img-full(src="assets/images/post/image-24.jpg", alt="")
                            span.bg-hover
                            .content
                                a.link(href="#") Architect
                                .title SOLALA
                            a.readmore-icons(href="#")
                                i.icons.flaticon-bleed
section.what-we-do.padding-top-100.padding-bottom-100
    .container
        .heading-main
            .main-title.text-center
                h5.subtitle our services
                h2.title what we do
        !=partial("_includes/shortcode/slider-syncing-1")
.testimonial-homepage-1.bg-blue.white
    .container
        !=partial("_includes/shortcode/testimonial-2")
section.how-we-work-1
    .container
        .content-wrapper
            .heading-main
                .main-title.text-center
                    h5.subtitle about us
                    h2.title how we work
            .list-block-icon-1.list-block-slick.slide-block
                .item
                    .block-icon-1
                        .icon-cell
                            .wrapper-icons
                                i.icons.flaticon-bolt
                        .icon-cell
                            .wrapper-info
                                .title best house renovation
                                .text Lorem ipsum dolor sit amet, consectetur adipisicing elit
                .item
                    .block-icon-1
                        .icon-cell
                            .wrapper-icons
                                i.icons.flaticon-business
                        .icon-cell
                            .wrapper-info
                                .title effective teamwork
                                .text Lorem ipsum dolor sit amet, consectetur adipisicing elit
                .item
                    .block-icon-1
                        .icon-cell
                            .wrapper-icons
                                i.icons.flaticon-calendar
                        .icon-cell
                            .wrapper-info
                                .title good planning
                                .text Lorem ipsum dolor sit amet, consectetur adipisicing elit
                .item
                    .block-icon-1
                        .icon-cell
                            .wrapper-icons
                                i.icons.flaticon-shield
                        .icon-cell
                            .wrapper-info
                                .title safe work
                                .text Lorem ipsum dolor sit amet, consectetur adipisicing elit
section
    !=partial("_includes/shortcode/banner-3")
section.recent-news.padding-top-100.padding-bottom-100
    .container
        !=partial("_includes/recent-news")
        .banner-bottom
            !=partial("_includes/shortcode/banner-1")
 #myModal.modal.fade.video-modal(tabindex="-1" role="dialog")
    .modal-dialog(role="document")
        .modal-content
            .modal-body
                .btn-close-1
                    img.img-responsive(src="assets/images/more-images/btn-closevideo.png", alt="")
                iframe.video-embed-1(src="https://www.youtube.com/embed/1k2NRnc9vQ4?rel=0" allowfullscreen)