.banner-pages.banner-services
    .container.container-wrapper
        .banner-wrapper
            .title-wrapper
                h1.title services
                .breadcrumb-wrapper
                    ol.breadcrumb
                        li.breadcrumb-item
                            a.breadcrumb-link(href="#") Home
                        li.breadcrumb-item
                            span.breadcrumb-active Services
            .banner-btn
                a.btn.white-color(href="#") get in touch
            .clearfix
.list-block-services.padding-top-100.padding-bottom-100
    .container
        .list-block.column-3
            .item
                .block-1
                    .block-image
                        img.img-full(src="assets/images/post/image-10.jpg", alt="")
                        //- .label-block
                        //-     .text-1 25.07
                        //-     .text-2 2016
                        //-     a.link-date(href="#")
                        a.link(href="#")
                    .block-content
                        a.title(href="#") Construction
                        .description
                            p.text Lorem ipsum dolor sit amet, consectetur adipisic elit, sed do eiusmod tempor incididunt ut.
                        a.readmore(href="#")
                            span.text read more
                            i.icons.fa.fa-angle-double-right
            .item
                .block-1
                    .block-image
                        img.img-full(src="assets/images/post/image-9.jpg", alt="")
                        a.link(href="#")
                    .block-content
                        a.title(href="#") Construction Consultant
                        .description
                            p.text Lorem ipsum dolor sit amet, consectetur adipisic elit, sed do eiusmod tempor incididunt ut.
                        a.readmore(href="#")
                            span.text read more
                            i.icons.fa.fa-angle-double-right
            .item
                .block-1
                    .block-image
                        img.img-full(src="assets/images/post/image-18.jpg", alt="")
                        a.link(href="#")
                    .block-content
                        a.title(href="#") Metal Roofing
                        .description
                            p.text Lorem ipsum dolor sit amet, consectetur adipisic elit, sed do eiusmod tempor incididunt ut.
                        a.readmore(href="#")
                            span.text read more
                            i.icons.fa.fa-angle-double-right
            .item
                .block-1
                    .block-image
                        img.img-full(src="assets/images/post/image-6.jpg", alt="")
                        //- .label-block
                        //-     .text-1 25.07
                        //-     .text-2 2016
                        //-     a.link-date(href="#")
                        a.link(href="#")
                    .block-content
                        a.title(href="#") Plumbing
                        .description
                            p.text Lorem ipsum dolor sit amet, consectetur adipisic elit, sed do eiusmod tempor incididunt ut.
                        a.readmore(href="#")
                            span.text read more
                            i.icons.fa.fa-angle-double-right
            .item
                .block-1
                    .block-image
                        img.img-full(src="assets/images/post/image-1.jpg", alt="")
                        a.link(href="#")
                    .block-content
                        a.title(href="#") Interior Design
                        .description
                            p.text Lorem ipsum dolor sit amet, consectetur adipisic elit, sed do eiusmod tempor incididunt ut.
                        a.readmore(href="#")
                            span.text read more
                            i.icons.fa.fa-angle-double-right
            .item
                .block-1
                    .block-image
                        img.img-full(src="assets/images/post/image-4.jpg", alt="")
                        a.link(href="#")
                    .block-content
                        a.title(href="#") Architecture
                        .description
                            p.text Lorem ipsum dolor sit amet, consectetur adipisic elit, sed do eiusmod tempor incididunt ut.
                        a.readmore(href="#")
                            span.text read more
                            i.icons.fa.fa-angle-double-right
.testimonial-homepage-1.bg-blue.white
    .container
        !=partial("_includes/shortcode/testimonial-2")
section.how-we-work-2.padding-top-100.padding-bottom-100
    .container
        .heading-main
            .main-title
                h5.subtitle about us
                h2.title how we work
        !=partial("_includes/shortcode/list-block-icon-2")
section.download.text-center.padding-top-100.padding-bottom-100
    .container 
        .download-header
            h2.title download our brochure
            h5.subtitle come to the world since 1992
        .btn-download-wrapper
            .btn-download
                span.icons.fa.fa-download
                span.text download
                span.icons.fa.fa-angle-right
            .btn-link
                a.link(href="#")
                    i.icons.fa.fa-file-pdf-o
                    span.link-name PDF file
                a.link(href="#")
                    i.icons.fa.fa-file-text-o
                    span.link-name WORD file
                a.link(href="#")
                    i.icons.fa.fa-file-powerpoint-o
                    span.link-name Pow file