.banner-pages.banner-team-member
    .container.container-wrapper
        .banner-wrapper
            .title-wrapper
                h1.title our team
                .breadcrumb-wrapper
                    ol.breadcrumb
                        li.breadcrumb-item
                            a.breadcrumb-link(href="#") Home
                        li.breadcrumb-item
                            a.breadcrumb-link(href="#") Pages
                        li.breadcrumb-item
                            span.breadcrumb-active Team
            .banner-btn
                a.btn.white-color(href="#") get in touch
            .clearfix

section.content-team-member.padding-top-100
    .container
        .row.paragraph
            .col-md-4.col-xs-12
                img(src="assets/images/more-images/portrait-1.jpg" alt="").img-responsive.portrait-img
            .col-md-8.col-xs-12
                .heading-main
                    .main-title
                        h5.subtitle Hello World
                        h2.title I’m Jodie Helsinki
                .detail-contact-info
                    p.position Expert Staff
                    .lists
                        .contact-list
                            a.item(href="mailto:jodie.helsinkin@swlabs.com")
                                i.icons.fa.fa-envelope
                                p.text jodie.helsinkin@swlabs.com
                            a.item(href="tel:+123456789")
                                i.icons.fa.fa-phone
                                p.text.text-bold +1 234 567 89
                        .social-list
                            a.item(href="#")
                                i.icons.fa.fa-facebook
                            a.item(href="#")
                                i.icons.fa.fa-twitter
                            a.item(href="#")
                                i.icons.fa.fa-google-plus
                .detail-content
                    h4.title Something About me
                    p Well educated, intellectual people, especially scientists at all times demonstrate considerably smaller adherence to religiosity than others. However, there are still believers of the idea of the God in science. If we exclude from their number those who feel a painful requirement for external protection and support by virtue of their poor living circumstances.
                    h4.title My mission & vision
                    p Common sense suggests, that for an explanation of the observable diversification in life, it is necessary to admit that each separate subject, each organism, each social unit, a local determinism, which maintains an autonomous internal life in it. This represents a scandalous weakness in the concept.
                    p Not finding the required causative source within the framework of philosophy, people are compelled to address the always-available, exotic, exciting fantasies of the irrational sources that are available.
        .row.paragraph
            .col-md-4.col-xs-12.column-3
                .detail-content
                    h4.title qualifications
                    p The conventional concept of determinism does not suppose the existence of such sources. This represents a scandalous weakness in the concept.
                    ul
                        li Duis aute irure dolor in reprehenderit in consectetur
                        li Dempor incididunt ut labore et dolore magna aliqua minim reprehenderit
                        li Quis nostrud exercitation ullamco laboris nisi
                        li Duis aute irure dolor in reprehenderit in voluptate
                        li Excepteur sint occaecat cupidatat non
            .col-md-4.col-xs-12.column-3
                .detail-content
                    h4.title experience
                    p For centuries there have been rumors about the secret codes of the bible. Now with the power of your home computer you can unlock the bible codes and see the truth for your self.
                    p Whether you are a true believer or a doubtful skeptic, evidence can be found with your own research on the secret codes of the bible. Bible codes, sometimes referred to as Torah codes, have been part of the Jewish tradition and mystery for over 2000 years.
            .col-md-4.col-xs-12.column-3
                .detail-content
                    h4.title certifications
                    .list-certifications
                        .item
                            .certification
                                i.flaticon-medal
                            .certification
                                i.flaticon-medal
                            .certification
                                i.flaticon-medal
                            .certification
                                i.flaticon-medal
                            .certification
                                i.flaticon-medal
                            .certification
                                i.flaticon-medal
                        .item
                            .certification
                                i.flaticon-medal
                            .certification
                                i.flaticon-medal
                            .certification
                                i.flaticon-medal
                            .certification
                                i.flaticon-medal
                            .certification
                                i.flaticon-medal
                            .certification
                                i.flaticon-medal
                        .item
                            .certification
                                i.flaticon-medal
                            .certification
                                i.flaticon-medal
                            .certification
                                i.flaticon-medal
                            .certification
                                i.flaticon-medal
                            .certification
                                i.flaticon-medal
                            .certification
                                i.flaticon-medal
section.team-member.padding-top-100.padding-bottom-100
    .container
        .heading-main
            .main-title
                h5.subtitle our expert team
                h2.title some other expert
        !=partial("_includes/list-block-team-4-item")
        .banner-bottom
            !=partial("_includes/shortcode/banner-1")