.widget.about-us-widget
    .title-widget about us
    .about-us-inner
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        p Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor quia non numqua dolore magnam aliquam quaerat voluptatem.
        .list-social
            .item
                a.link(href="#")
                    i.icons.fa.fa-facebook
            .item
                a.link(href="#")
                    i.icons.fa.fa-twitter
            .item
                a.link(href="#")
                    i.icons.fa.fa-google-plus
            .item
                a.link(href="#")
                    i.icons.fa.fa-pinterest-p
            .item
                a.link(href="#")
                    i.icons.fa.fa-vimeo