.widget.categories-widget.style-2
    .title-widget what we do
    .categories-inner
        a.link(href="#")
            i.icons.fa.fa-angle-right
            span All Services
        a.link(href="#")
            i.icons.fa.fa-angle-right
            span Small &amp; Large Building
        a.link(href="#")
            i.icons.fa.fa-angle-right
            span Construction Consultant
        a.link(href="#")
            i.icons.fa.fa-angle-right
            span Metal Roofling
        a.link(href="#")
            i.icons.fa.fa-angle-right
            span Consultant
        a.link(href="#")
            i.icons.fa.fa-angle-right
            span Architecture
        a.link(href="#")
            i.icons.fa.fa-angle-right
            span Contruction