.widget.categories-widget
    .title-widget categories
    .categories-inner
        a.link(href="#")
            span All Categories
            i.icons.fa.fa-angle-right
        a.link(href="#")
            span Small &amp; Large Building
            i.icons.fa.fa-angle-right
        a.link(href="#")
            span Construction Consultant
            i.icons.fa.fa-angle-right
        a.link(href="#")
            span Metal Roofling
            i.icons.fa.fa-angle-right
        a.link(href="#")
            span Consultant
            i.icons.fa.fa-angle-right
        a.link(href="#")
            span Architecture
            i.icons.fa.fa-angle-right
        a.link(href="#")
            span Contruction
            i.icons.fa.fa-angle-right