.widget.contact-us-now-widget
    .title-widget contact us now
    .list-contact
        .contact-info-box
            .contact-info-cell
                .wrapper-icons
                    i.icons.fa.fa-map-marker
            .contact-info-cell
                .wrapper-info
                    p.text 7100 Athens Place Washington, DC 20512-7100
        .contact-info-box
            .contact-info-cell
                .wrapper-icons
                    i.icons.fa.fa-phone
            .contact-info-cell
                .wrapper-info
                    p.text Hotline:
                        a.text-bold(href="tel:+123456789") +1 234 567 89
        .contact-info-box
            .contact-info-cell
                .wrapper-icons
                    i.icons.fa.fa-envelope
            .contact-info-cell
                .wrapper-info
                    a.text(href="mailto:info@buildplus.com") info@buildplus.com
                    a.text(href="mailto:support@builplus.com") support@builplus.com