.widget.download-widget
    .title-widget download brochures
    .list-download
        a.btn-has-icon(href="#") 
            span.icons.fa.fa-file-pdf-o
            span.text Build-Plus.pdf
        a.btn-has-icon(href="#") 
            span.icons.fa.fa-file-text-o
            span.text Build-Plus.docx
        a.btn-has-icon(href="#") 
            span.icons.fa.fa-file-powerpoint-o
            span.text Build-Plus.pptx