.widget.gallery-widget
    .title-widget gallery
    .widget-content
        ul.list-unstyled.list-inline
            li
                a.thumb(href="#")
                    img.img-gallery(src="assets/images/post/image-1.jpg", alt="")
            li
                a.thumb(href="#")
                    img.img-gallery(src="assets/images/post/image-2.jpg", alt="")
            li
                a.thumb(href="#")
                    img.img-gallery(src="assets/images/post/image-3.jpg", alt="")
            li
                a.thumb(href="#")
                    img.img-gallery(src="assets/images/post/image-4.jpg", alt="")
            li
                a.thumb(href="#")
                    img.img-gallery(src="assets/images/post/image-5.jpg", alt="")
            li
                a.thumb(href="#")
                    img.img-gallery(src="assets/images/post/image-6.jpg", alt="")
            li
                a.thumb(href="#")
                    img.img-gallery(src="assets/images/post/image-7.jpg", alt="")
            li
                a.thumb(href="#")
                    img.img-gallery(src="assets/images/post/image-8.jpg", alt="")
