.widget.project-details-widget
	.title-widget project details
	.list-details
		p.item
			span.label client:
			| Various Clients - Single Project Concept
		p.item
			span.label project location:
			| Bakersfield, CA
		p.item
			span.label pcl office:
			| Bakersfield – Industrial Construction
		p.item.main-color
			span.label company:
			a.link(href="#") BuildPlus, Inc.
		p.item
			span.label sector:
			| Industrial
		p.item
			span.label market:
			| Heavy Industrial
		p.item
			span.label delivery method:
			| General Contracting