.widget.recent-post-widget
    .title-widget Recent Posts
    .recent-post-inner
        .media
            .media-left
                a.wrapper-image(href="#")
                    img.media-object(src="assets/images/post/image-1.jpg", alt="")
            .media-right
                .meta
                    .meta-info.time
                        | Date:
                        a(href="#").link 25.04.2016
                    .meta-info
                        | By
                        a(href="#").link John Doe   
                a.media-heading(href="#") We Build Your Best Home With Our Best Servieces
        .media
            .media-left
                a.wrapper-image(href="#")
                    img.media-object(src="assets/images/post/image-10.jpg", alt="")
            .media-right
                .meta
                    .meta-info.time
                        | Date:
                        a(href="#").link 25.04.2016
                    .meta-info
                        | By
                        a(href="#").link John Doe   
                a.media-heading(href="#") The Best Construction And Contructors Services
        .media
            .media-left
                a.wrapper-image(href="#")
                    img.media-object(src="assets/images/post/image-8.jpg", alt="")
            .media-right
                .meta
                    .meta-info.time
                        | Date:
                        a(href="#").link 25.04.2016
                    .meta-info
                        | By
                        a(href="#").link John Doe 
                a.media-heading(href="#") We Build Your Best Home With Our Best Services