.widget.recent-post-widget
    .title-widget Recent News
    .recent-post-inner
        .media.style-2
            .meta
                i.icons.fa.fa-bookmark
                .meta-info.time
                    | Date:
                    a(href="#").link 25.04.2016
            .media-left
                a.wrapper-image(href="#")
                    img.media-object(src="assets/images/post/image-1.jpg", alt="")
            .media-right
                a.media-heading(href="#") How To Build A Villa With Garden And Swimming
        .media.style-2
            .meta
                i.icons.fa.fa-bookmark
                .meta-info.time
                    | Date:
                    a(href="#").link 25.04.2016
            .media-left
                a.wrapper-image(href="#")
                    img.media-object(src="assets/images/post/image-2.jpg", alt="")
            .media-right
                a.media-heading(href="#") The Good Plan From Design To Build Your