.widget.recent-post-widget
    .title-widget Recent Posts
    .recent-post-inner
        .media.style-3
            .media-left
                a.wrapper-image(href="#")
                    img.media-object(src="assets/images/post/image-1.jpg", alt="")
            .media-right
                a.media-heading(href="#") 'War on Drugs' has Failed Public Health
                .meta
                    .meta-info
                        | By
                        a(href="#").link John Doe   
                    .meta-info
                        | 24 comments
        .media.style-3
            .media-left
                a.wrapper-image(href="#")
                    img.media-object(src="assets/images/post/image-10.jpg", alt="")
            .media-right
                a.media-heading(href="#") 'War on Drugs' has Failed Public Health
                .meta
                    .meta-info
                        | By
                        a(href="#").link John Doe   
                    .meta-info
                        | 24 comments
        .media.style-3
            .media-left
                a.wrapper-image(href="#")
                    img.media-object(src="assets/images/post/image-8.jpg", alt="")
            .media-right
                a.media-heading(href="#") 'War on Drugs' has Failed Public Health
                .meta
                    .meta-info
                        | By
                        a(href="#").link John Doe   
                    .meta-info
                        | 24 comments