.widget.search-widget
    form(action="#")
        .input-group
            input.form-control(type="text", placeholder="Search..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search...'")
            span.input-group-btn
                button.btn.btn-secondary(type="submit")
                    i.fa.fa-search
            .line