.widget.send-mail-widget
    .title-widget Email Newsletters
    .send-mail-inner
        p.text Please sign up for Our Newsletter. Subscribe us to receive news in your inbox.
        input.form-control(type="text", placeholder="Full Name")
        input.form-control(type="email", placeholder="Email Address")
        button.btn.main-color(type="submit") submit