.widget.tag-widget
    .title-widget Popular Tags
    .tag-inner
        ul.list-unstyled.list-inline
            li
                a.tag(href="#") Apartment
            li
                a.tag(href="#") Apartment Building
            li
                a.tag(href="#") Cottage
            li
                a.tag(href="#") Construction
            li
                a.tag(href="#") Architecture
            li
                a.tag(href="#") Design
            li
                a.tag(href="#") Interior
            li
                a.tag(href="#") Build