.twitter-widget.widget
    .title-widget twitter feed
    .content-widget
        .twitter-widget-wrapper
            .item
                .twitter-news-feed
                    .avatar
                        a(href="#")
                            img.img-responsive(src="assets/images/more-images/avatar-1.jpg", alt="")
                    .content
                        .logo-twitter(href="#")
                            i.fa.fa-twitter
                        .name(href="#") dean swanson
                        .email @deanswanson
                        .description
                            .link(href="#") @dailymagz, 
                            span.text An exclusive look at Instagram's new app icon.
                        ul.list-inline.list-unstyled.more-info
                            li
                                a.link.favorite(href="#")
                                    i.fa.fa-heart
                            li
                                a.link.share(href="#")
                                    i.fa.fa-share-alt
                        .time-post 5 mins ago
                        a.link-pages(href="#")
            .item
                .twitter-news-feed
                    .avatar
                        a(href="#")
                            img.img-responsive(src="assets/images/more-images/avatar-2.jpg", alt="")
                    .content
                        .logo-twitter(href="#")
                            i.fa.fa-twitter
                        .name(href="#") jackson sutton
                        .email @jacksonsutton
                        .description
                            .link(href="#") @dailymagz, 
                            span.text An exclusive look at Instagram's new app icon.
                        ul.list-inline.list-unstyled.more-info
                            li
                                a.link.favorite(href="#")
                                    i.fa.fa-heart
                            li
                                a.link.share(href="#")
                                    i.fa.fa-share-alt
                        .time-post 20 mins ago
                        a.link-pages(href="#")
            //- .item
            //-     .twitter-news-feed
            //-         .avatar
            //-             a(href="#")
            //-                 img.img-responsive(src="assets/images/more-images/avatar-3.jpg", alt="")
            //-         .content
            //-             .logo-twitter(href="#")
            //-                 i.fa.fa-twitter
            //-             .name(href="#") Christopher Reynolds
            //-             .email @christopherreynolds
            //-             .description
            //-                 .link(href="#") @dailymagz, 
            //-                 span.text An exclusive look at Instagram's new app icon.
            //-             ul.list-inline.list-unstyled.more-info
            //-                 li
            //-                     a.link.favorite(href="#")
            //-                         i.fa.fa-heart
            //-                 li
            //-                     a.link.share(href="#")
            //-                         i.fa.fa-share-alt
            //-             .time-post 30 mins ago
            //-             a.link-pages(href="#")
        //- .twitter-widget-bottom
        //-     .text-left
        //-         a.link(href="#") Embed
        //-     .text-right
        //-         a.link(href="#") View on Twitter
        //-     .clearfix
