.gallery-image-grid
    .grid-item.tab-1.tab-4.tab-3
        .block-image-gallery
            img.img-full(src="assets/images/post/image-24.jpg", alt="")
            //.bg-hover
            .overlay-1
            .overlay-2
            .content
                a.link(href="#") Architect
                .title SOLABIZ
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-2.tab-3.tab-5
        .block-image-gallery
            img.img-full(src="assets/images/post/image-25.jpg", alt="")
            //.bg-hover
            .overlay-1
            .overlay-2
            .content
                a.link(href="#") Architect
                .title ALAB
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-1.tab-5.tab-3
        .block-image-gallery
            img.img-full(src="assets/images/post/image-21.jpg", alt="")
            //.bg-hover
            .overlay-1
            .overlay-2
            .content
                a.link(href="#") Architect
                .title FLOURY
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-1.tab-3.tab-4.tab-2
        .block-image-gallery
            img.img-full(src="assets/images/post/image-29.jpg", alt="")
            //.bg-hover
            .overlay-1
            .overlay-2
            .content
                a.link(href="#") Architect
                .title TRANSERA
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-5.tab-2.tab-4
        .block-image-gallery
            img.img-full(src="assets/images/post/image-28.jpg", alt="")
            //.bg-hover
            .overlay-1
            .overlay-2
            .content
                a.link(href="#") Architect
                .title BUILDPLUS
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-2.tab-3.tab-4.tab-5
        .block-image-gallery
            img.img-full(src="assets/images/post/image-27.jpg", alt="")
            //.bg-hover
            .overlay-1
            .overlay-2
            .content
                a.link(href="#") Architect
                .title SOLALA
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-1.tab-3.tab-5
        .block-image-gallery
            img.img-full(src="assets/images/post/image-26.jpg", alt="")
            //.bg-hover
            .overlay-1
            .overlay-2
            .content
                a.link(href="#") Architect
                .title FLEXI
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-4.tab-3.tab-2
        .block-image-gallery
            img.img-full(src="assets/images/post/image-25.jpg", alt="")
            //.bg-hover
            .overlay-1
            .overlay-2
            .content
                a.link(href="#") Architect
                .title APPEXPO
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .grid-item.tab-5.tab-3.tab-1.tab-4
        .block-image-gallery
            img.img-full(src="assets/images/post/image-22.jpg", alt="")
            //.bg-hover
            .overlay-1
            .overlay-2
            .content
                a.link(href="#") Architect
                .title GRASSY
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed