.list-block-team.column-4
    .item
        .block-team
            .block-image
                img.img-responsive(src="assets/images/team/image-1.png", alt="")
                a.link(href="#")
            .block-content
                a.title(href="#") Samuel Wilton
                .position Expert Staff
                .social-list
                    a.item(href="#")
                        i.icons.fa.fa-facebook
                    a.item(href="#")
                        i.icons.fa.fa-twitter
                    a.item(href="#")
                        i.icons.fa.fa-google-plus
    .item
        .block-team
            .block-image
                img.img-responsive(src="assets/images/team/image-2.png", alt="")
                a.link(href="#")
            .block-content
                a.title(href="#") Elena Smith
                .position Expert Staff
                .social-list
                    a.item(href="#")
                        i.icons.fa.fa-facebook
                    a.item(href="#")
                        i.icons.fa.fa-twitter
                    a.item(href="#")
                        i.icons.fa.fa-google-plus
    .item
        .block-team
            .block-image
                img.img-responsive(src="assets/images/team/image-3.png", alt="")
                a.link(href="#")
            .block-content
                a.title(href="#") David Thomson
                .position Expert Staff
                .social-list
                    a.item(href="#")
                        i.icons.fa.fa-facebook
                    a.item(href="#")
                        i.icons.fa.fa-twitter
                    a.item(href="#")
                        i.icons.fa.fa-google-plus
    .item
        .block-team
            .block-image
                img.img-responsive(src="assets/images/team/image-4.png", alt="")
                a.link(href="#")
            .block-content
                a.title(href="#") Mark Levine
                .position Expert Staff
                .social-list
                    a.item(href="#")
                        i.icons.fa.fa-facebook
                    a.item(href="#")
                        i.icons.fa.fa-twitter
                    a.item(href="#")
                        i.icons.fa.fa-google-plus
    