#loading-page
    .machine-wrap
        .machine
            .machine-roof
                .machine-silencer
                    .machine-smoke
            .machine-main
                .machine-body
                .machine-back
                .machine-front
        .road
            .mud-wrap.clearfix
                .mud
                .mud
                .mud
                .mud