.heading-main
    .main-title.text-center
        h5.subtitle blog post
        h2.title recent news
.slide-block.no-dots.column-3
    .item
        .block-1
            .block-image
                img.img-full(src="assets/images/post/image-15.jpg", alt="")
                a.link(href="#")
            .block-info
                .block
                    a.link(href="#") john doe
                .block
                    p.link date:
                    a.link.date(href="#") 25.07.2016
                .block
                    p.link 24 comments
            .block-content
                a.title(href="#") how to build a great house
                .description
                    p.text Lorem ipsum dolor sit amet, consectetur adipis elit, sed do eiusmod tempor incididunt.
                a.readmore-icons(href="#")
                    i.icons.flaticon-bleed
    .item
        .block-1
            .block-image
                img.img-full(src="assets/images/post/image-10.jpg", alt="")
                a.link(href="#")
            .block-info
                .block
                    a.link(href="#") john doe
                .block
                    p.link date:
                    a.link.date(href="#") 25.07.2016
                .block
                    p.link 24 comments
            .block-content
                a.title(href="#") the best team state
                .description
                    p.text Lorem ipsum dolor sit amet, consectetur adipis elit, sed do eiusmod tempor incididunt.
                a.readmore-icons(href="#")
                    i.icons.flaticon-bleed
    .item
        .block-1
            .block-image
                img.img-full(src="assets/images/post/image-13.jpg", alt="")
                a.link(href="#")
            .block-info
                .block
                    a.link(href="#") john doe
                .block
                    p.link date:
                    a.link.date(href="#") 25.07.2016
                .block
                    p.link 24 comments
            .block-content
                a.title(href="#") we help you fix your house
                .description
                    p.text Lorem ipsum dolor sit amet, consectetur adipis elit, sed do eiusmod tempor incididunt.
                a.readmore-icons(href="#")
                    i.icons.flaticon-bleed
    .item
        .block-1
            .block-image
                img.img-full(src="assets/images/post/image-7.jpg", alt="")
                a.link(href="#")
            .block-info
                .block
                    a.link(href="#") john doe
                .block
                    p.link date:
                    a.link.date(href="#") 25.07.2016
                .block
                    p.link 24 comments
            .block-content
                a.title(href="#") how to build a great house
                .description
                    p.text Lorem ipsum dolor sit amet, consectetur adipis elit, sed do eiusmod tempor incididunt.
                a.readmore-icons(href="#")
                    i.icons.flaticon-bleed
    .item
        .block-1
            .block-image
                img.img-full(src="assets/images/post/image-8.jpg", alt="")
                a.link(href="#")
            .block-info
                .block
                    a.link(href="#") john doe
                .block
                    p.link date:
                    a.link.date(href="#") 25.07.2016
                .block
                    p.link 24 comments
            .block-content
                a.title(href="#") the best team state
                .description
                    p.text Lorem ipsum dolor sit amet, consectetur adipis elit, sed do eiusmod tempor incididunt.
                a.readmore-icons(href="#")
                    i.icons.flaticon-bleed
    .item
        .block-1
            .block-image
                img.img-full(src="assets/images/post/image-9.jpg", alt="")
                a.link(href="#")
            .block-info
                .block
                    a.link(href="#") john doe
                .block
                    p.link date:
                    a.link.date(href="#") 25.07.2016
                .block
                    p.link 24 comments
            .block-content
                a.title(href="#") we help you fix your house
                .description
                    p.text Lorem ipsum dolor sit amet, consectetur adipis elit, sed do eiusmod tempor incididunt.
                a.readmore-icons(href="#")
                    i.icons.flaticon-bleed
                        