.slide-block.column-3
    .item
        .block-image-gallery
            img.img-full(src="assets/images/post/image-22.jpg", alt="")
            //- .bg-hover
            .overlay-1
            .overlay-2
            .content
                a.link(href="#") Architect
                .title MAGICLEAN
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src="assets/images/post/image-23.jpg", alt="")
            //- .bg-hover
            .overlay-1
            .overlay-2
            .content
                a.link(href="#") Architect
                .title SOLABIZ
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src="assets/images/post/image-24.jpg", alt="")
            //- .bg-hover
            .overlay-1
            .overlay-2
            .content
                a.link(href="#") Architect
                .title ALAB
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src="assets/images/post/image-25.jpg", alt="")
            //- .bg-hover
            .overlay-1
            .overlay-2
            .content
                a.link(href="#") Architect
                .title FLOURY
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src="assets/images/post/image-26.jpg", alt="")
            //- .bg-hover
            .overlay-1
            .overlay-2
            .content
                a.link(href="#") Architect
                .title BUILDPLUS
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src="assets/images/post/image-27.jpg", alt="")
            //- .bg-hover
            .overlay-1
            .overlay-2
            .content
                a.link(href="#") Architect
                .title TRANSERA
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src="assets/images/post/image-23.jpg", alt="")
            //- .bg-hover
            .overlay-1
            .overlay-2
            .content
                a.link(href="#") Architect
                .title SOLABIZ
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed
    .item
        .block-image-gallery
            img.img-full(src="assets/images/post/image-25.jpg", alt="")
            //- .bg-hover
            .overlay-1
            .overlay-2
            .content
                a.link(href="#") Architect
                .title FLOURY
            a.readmore-icons(href="#")
                i.icons.flaticon-bleed